[2021-06-22 14:51] johnwjudkins opened #214 "NTR: terms for outputs of blood, milk, urine, etc. tests"
Example for blood:
Label: blood test datum
Definition: A measurement datum that is the specified output of a blood test.
Equivalent axiom: 'measurement datum' and is_specified_output_of some 'blood test'.

Similarly for milk, feces, urine. These would be children of 'measurement datum' (allowing for categorical/count/scalar values). 'blood test datum' would be the parent of the terms that are chil

[2021-06-22 18:22] #200 closed

[2021-06-22 18:30] cstoeckert commented on #207
Waiting on OGMS to make a release with merged owl. Expect in a couple weeks with help from Jie.

[2021-06-22 18:54] cstoeckert commented on #213
discussed and recognized that we don't want general terms. These organism specific terms can be used for the detection assays whose labels should be made organism-specific e.g, Plasmodium gametocyte assay.

[2021-06-22 18:54] #213 closed

[2021-06-22 19:01] cstoeckert commented on #214
Submit to OBI at least to check with them.

[2021-06-25 18:26] johnwjudkins opened #216 "Import new arthropod terms from NCBITaxon"
These are from the latest NCBITaxon release and will replace some of the placeholder terms created for #105.

http://purl.obolibrary.org/obo/NCBITaxon_2761511 Aedes ledgeri
http://purl.obolibrary.org/obo/NCBITaxon_2785382 Anopheles franciscanus
http://purl.obolibrary.org/obo/NCBITaxon_2563468 Culex aurantepex
http://purl.obolibrary.org/obo/NCBITaxon_1678250 Culex rubinotus
http://purl.obolibrary.o

[2021-06-25 19:28] johnwjudkins commented on #117
For consistency with other count terms, I'll make labels with 'number of...' instead of '...count', and I'll make these children of 'count' and adjust the definition accordingly.

[2021-07-01 18:49] cstoeckert commented on #185
The listed properties were confirmed at the July 1, 2021 ClinEpiDB meeting.

[2021-07-02 17:27] bobular opened #221 "Terms to add to VEuPathDB: pyrethroid and maybe more"
- [ ] 'pyrethroid insecticide` CHEBI:26413 ([spreadsheet](https://docs.google.com/spreadsheets/d/1vlj-4NTpKJNjj-eU-JgJr6d2OHXiGwiK14InUeNmA7c/edit#gid=1006114387&range=942:942))

[2021-07-02 17:34] bobular commented on #152
I've looked into this more and unfortunately we have a few more values in VBcv...
![image](https://user-images.githubusercontent.com/308639/124309270-630ce700-db62-11eb-8e44-ca5023962535.png)

The good news is that `blood-fed twice` and `sugar-fed` aren't used in popbio,

`fully-fed` and `partially-fed` are used, but I suggest mapping them both to `fed female insect`

Could we have new term `fed f

[2021-07-02 19:15] johnwjudkins commented on #221
It's in the latest release: http://www.ontobee.org/ontology/EUPATH?iri=http://purl.obolibrary.org/obo/CHEBI_26413

[2021-07-02 23:54] bobular commented on #221
Oh, cool.  I should have checked, duh!

On Fri, Jul 2, 2021 at 8:15 PM John Judkins ***@***.***>
wrote:

[2021-07-06 13:01] cstoeckert commented on #152
Hi @bobular
Note that this is the hierarchy of the terms that I proposed:
gravid female insect feeding status:
	fed gravid female insect status:
	recently fed gravid female insect status:
	unfed gravid female insect status:
Did you want this instead?
female insect feeding status
	recently fed female insect status:
	gravid female insect feeding status:
		fed gravid female insect status:
		unfed gra

[2021-07-06 14:56] #185 closed

[2021-07-08 14:29] johnwjudkins opened #222 "NTR: 'Obsolete class' class (as in OBI)"
I noticed this while working on https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/pull/217 - OBI has an 'Obsolete class' with IRI http://www.geneontology.org/formats/oboInOwl#ObsoleteClass as a parent to their deprecated classes; their template for obsolete terms also uses 'Obsolete class'. We have many of our own deprecated terms, so do we want the 'Obsolete class', or do we want to contin

[2021-07-08 17:26] cstoeckert commented on #222
The main benefit of having a parent obsolete class is it makes viewing the ontology less cumbersome for example in Protege. I think it's a nice addition and worth reusing the same IRI as OBI but not essential.

[2021-07-12 20:45] cstoeckert commented on #187
A question came up about this at OBI. https://github.com/obi-ontology/obi/issues/1370 "Would this fit as a research resource ID (https://scicrunch.org/resources)?"
I think the question is whether a laboratory population as we are defining it would qualify as a research resource (and could be given one of their IDs). @bobular What do you think?

[2021-07-12 21:01] johnwjudkins opened #223 "Revision of northing and easting coordinate measurement data definitions"
I looked at the definitions for these that we currently have in VEuPath and submitted to OBI, and I think they can be made and rewritten for clarity and to avoid defining the parent term or including an example of use (which should be in a separate annotation if we do provide an example). I propose this definition for 'easting coordinate measurement datum':

A one dimensional Cartesian spatial coo

[2021-07-13 17:12] johnwjudkins opened #224 "Some SYMP terms not needed in the ontology"
There are a few SYMP terms in the ontology that are not used in any project or could be replaced.

abscess (SYMP:0000672): No project of ours even references abscess.

underweight (SYMP:0000475), wasting (SYMP:0000174): These are related to the terms Underweight and Wasted in ClinEpi, but those are not symptom terms; they are Anthropometry terms which can be defined based on a combination of weigh

[2021-07-14 14:54] cstoeckert commented on #223
Approve the proposed definition. Include Wikipedia as definition source.

[2021-07-15 12:37] bobular commented on #187
I don't really understand.  Discuss tomorrow?

[2021-07-15 14:16] zhengj2007 commented on #208
I think following label should add as 'alternative label' in the ontology.

[2021-07-15 14:23] cstoeckert commented on #208
The proposed alternative labels confuse the analysis method with the data output from the analysis. I'd like to avoid that.

[2021-07-16 21:49] zhengj2007 commented on #208
It seems we are using the ontology term labels in the microbiome.owl rather than the labels shown below. So, please ignore my comments on adding them as the alternative terms in VEuPathDB ontology.

[2021-07-16 21:49] #208 closed

[2021-07-20 17:24] cstoeckert commented on #187
Has been added to obi-dev as OBI_0003086. see https://github.com/obi-ontology/obi/pull/1392

[2021-07-22 21:05] johnwjudkins opened #226 "Terms to import"
These are terms that can serve as the object of axioms for ICE terms for: diagnoses, autopsy report, reason brought to intensive care.

label | ID | context in ClinEpi
-- | -- | --
hyperbilirubinemia | HP_0002904 | diagnosis
Feeding difficulties | HP_0011968 | 'Difficulty feeding' as reason brought to NICU
Coldness | HP_0033850 | 'Cold to touch' as reason brought to NiCU
apnea | HP_0002104 | value

[2021-07-28 14:36] cstoeckert commented on #224
DIscussed July 28, 2021. Agree with dropping unused SYMP terms (check across all projects) and use HP cough in place of SYMP cough so avoid mixed hierarchy.

[2021-07-28 14:38] cstoeckert commented on #226
Not urgent but fine to add these.

[2021-07-29 12:50] #117 closed

[2021-07-29 13:54] cstoeckert commented on #221
Sounds like this is taken care of so closing but reopen if I missed something.

[2021-07-29 13:54] #221 closed

[2021-07-29 13:59] cstoeckert commented on #188
PR #202 with this term has been merged so closing.

[2021-07-29 13:59] #188 closed

[2021-07-29 18:27] johnwjudkins commented on #224
Merged, closing.

[2021-07-29 18:27] #224 closed

[2021-08-03 14:04] bobular commented on #152
I think we need a term for unfed females, so I've adjusted it a bit

[code]

`**` @SAK22 - would the unfed be better as "not recently fed"?

[2021-08-03 14:07] bobular commented on #189
Yes that would work - does it need importing into VEuPath ontology?

[2021-08-03 17:58] SAK22 commented on #152
I think unfed is fine, that is the commonly used term! Usually they are actually totally unfed as well, as they collect mosquitoes in the field, rear an F1 generation then use those for testing.

[2021-08-10 17:10] johnwjudkins opened #229 "Definitions that contain units or should be revised for clarity"
I see two definitions that could be revised for clarity. Here are the current definitions and my proposals:

ID | current definition | proposed definition
-- | -- | --
EUPATH:0000489 | A laboratory finding about parasite present which is negative in both blood smear and LAMP assay. | A presence of parasite that indicates that no parasite was detected in a specimen, either by loop-mediated isotherm

[2021-08-11 14:25] cstoeckert commented on #189
Yes need to import for next release.

[2021-08-11 14:52] cstoeckert commented on #229
The proposed changes are fine and agree to just modify labels and definitions to remove mention of units.
'asexual parasite density by microscope' would be most general. Can be 'asexual parasite density in count per volume by microscope' if need to distinguish from other variables.

[2021-08-11 15:22] cstoeckert commented on #152
Here are the adjusted proposed terms based on the discussion above:
female insect feeding status: Information about a female insect regarding when and if it had a blood meal.
unfed female insect status: A female insect feeding status of not having a blood meal.
recently fed female insect status: A female insect feeding status of recently having a blood meal.
gravid female insect feeding status: A

[2021-08-11 17:10] SAK22 commented on #152
Looks great @cstoeckert should the fed gravid female description match the others? Using A gravid female insect feeding status **of having** a blood meal?

[2021-08-11 18:32] cstoeckert commented on #152
@SAK22 Sounds good. Will make that change. Thanks for reviewing!

[2021-08-13 12:31] bobular commented on #152
We'd need to check with @SAK22, but I'd suggest changing
[code]
to
[code]

Note that female mosquitoes feed on blood, digest and become gravid/make a batch of eggs (they store sperm from a previous insemination) - then they can feed again become gravid again.

So the "recent" thing is important.  Maybe it should be changed to "visible blood meal" or "undigested" or something?

[2021-08-16 14:14] #222 closed

[2021-08-17 05:41] SAK22 opened #232 "New ontology terms required"
Please can we make terms for the following? Thank you!

NCBI:txid409350 | VBsp:0600009 | dirus species complex
NCBI:txid48725 | VBsp:0600010 | Anopheles baimaii

[2021-08-18 10:26] SAK22 commented on #152
I think I like the idea of "visible blood meal" if we can make that work? As all this is done (mostly) by eye, so they look at the bellies of the mozzies, see no red but see a large tummy full of eggs.

[2021-08-18 13:57] cstoeckert commented on #152
How's this then? Please edit as needed (such as adding "visible" to other definitions). Thanks. @SAK22 @bobular

unfed gravid female insect status: A gravid female insect feeding status of not recently having a visible blood meal.

fed gravid female insect status: A gravid female insect feeding status of having a blood meal.

gravid female insect feeding status: A female insect feeding status abou

[2021-08-26 20:23] SheenaTomko opened #235 "NTR: Community repeated measure"
Jay has been using a fake IRI for the entity (node, category, record, etc.) "Community repeated measure" which is a database entity that contains all variables asked repeatedly about a community. Please make a term for this and give the information.

[2021-08-30 19:46] #189 closed

[2021-08-30 19:46] #232 closed

[2021-09-01 14:15] cstoeckert commented on #223
These are now in OBI so closing.

[2021-09-01 14:26] cstoeckert commented on #214
blood assay is in OBI. Still need to submit / check with OBI. Don't need to wait on OGMS as these aren't necessarily clinical.

[2021-09-02 13:19] #180 closed

[2021-09-02 13:19] cstoeckert commented on #180
Change was made in latest OBI release

[2021-09-03 18:53] #216 closed

[2021-09-08 14:33] cstoeckert commented on #199
Need to remove from obsolete table. Fix label. Give definition.

[2021-09-08 14:35] #235 closed

[2021-09-08 14:36] #226 closed

[2021-09-08 14:37] #190 closed

[2021-09-08 14:38] #187 closed

[2021-09-08 14:38] #165 closed

[2021-09-08 14:52] cstoeckert commented on #158
Will change the IRI for 'community information' to EUPATH_0035127

[2021-09-08 14:54] #229 closed

[2021-09-08 14:56] cstoeckert commented on #195
These were fixed in OBI and imported (deprecating VEuPath terms)

[2021-09-08 14:56] #195 closed

[2021-09-08 14:56] #182 closed

[2021-09-08 15:01] cstoeckert commented on #181
Want the inverse http://purl.obolibrary.org/obo/COB_0000016 executed by which would be used for 'plan specification' 'executed by' 'planned process'

[2021-09-08 16:54] johnwjudkins commented on #199
Assigning to @cstoeckert for definition.

[2021-09-10 17:37] cstoeckert commented on #199
label: multilocus sequence type clade
alternative label: MLST clade
Definition: A clade name based on multilocus sequence typing (MLST), a widely used approach to microbial isolate differentiation for epidemiological purposes.
Definition source: https://pubmed.ncbi.nlm.nih.gov/14605179/
parent class: APOLLO_SV_00000232 'clade name'
Example of usage: "Clades were assigned based on multilocus sequen

[2021-09-13 19:29] #181 closed

[2021-09-13 19:38] cstoeckert commented on #166
OK to obsolete the terms in the schedule to deprecate file in templates.

[2021-09-13 19:39] #158 closed

[2021-09-13 19:42] cstoeckert commented on #157
Agree that we should be using definition source instead of 'sourced by vectorbase ID'

[2021-09-13 19:42] #153 closed

[2021-09-13 19:45] #151 closed

[2021-09-13 19:54] #149 closed

[2021-09-21 14:50] zhengj2007 commented on #214
Is all the blood test results measurement datum? I think it could be boolean value, like positive, negative. How about change the definition to 'a data item that is the specified output of a blood test.'?

[2021-09-21 14:53] zhengj2007 commented on #207
The term is also used in the imported OBIB. Need wait that OBIB replace the term with OGMS one. See the tracker: https://github.com/biobanking/biobanking/issues/79

[2021-09-22 13:59] johnwjudkins commented on #214
Since a blood test is an assay, the output is always a measurement datum, which would include both categorical and scalar measurement data.

Since OBI had concerns about ending up with parallel hierarchies, I should draw up a more specific hierarchy showing how these data terms would be arranged. I should also do this for microbiology test data terms as children of 'organism identification datum'.

[2021-09-22 14:47] #199 closed

[2021-09-28 20:52] johnwjudkins opened #240 "NTR: bed net"
Definition: A processed material that is made of a flexible meshed material and functions as a barrier to keep arthropods out of a sleeping area over which it is placed.

This is different from 'bed net material' which describes what the net is made of.

[2021-09-29 14:19] #152 closed

[2021-09-29 14:22] cstoeckert commented on #240
Submit to ENVO and see if they are willing to take it.

[2021-10-05 17:20] johnwjudkins commented on #240
https://github.com/EnvironmentOntology/envo/issues/1214

[2021-10-18 16:59] SAK22 opened #241 "NTR: Anopheles demeilloni and Anopheles hancocki"
Please could we add these two mosquito species to the VEuPath ontology.

Anopheles demeilloni
Anopheles hancocki

demeilloni was found in VB project is VBP0000738 and hancocki in VBP000626.

[2021-10-19 13:01] SAK22 opened #242 "NTR: Florida Keys Mosquito Control district organization"
Please could we make a term for

Label:  Florida Keys Mosquito Control district organization
Definition: An organization that monitors mosquito species in the Florida Keys district, performs abatement, and is located in the Florida Keys, Florida, USA.

Parent term: organization of specimen collector
IRI: http://purl.obolibrary.org/obo/OBI_0001893
Definition: An organization that is the affiliation

[2021-10-20 16:14] cstoeckert commented on #242
Thanks @SAK22, sorry but I was not clear with my question. Is there only one Florida Keys Mosquito Control District organization (and only one Collier Mosquito Control District organization, and only one Cass County Vector Control District organization, etc.) or are there multiple organizations within the Florida Key Mosquito Control District?

[2021-10-20 19:48] johnwjudkins opened #243 "NTRs for administrative regions in specific countries"
Related to #74 and recent discussion with Outreach over geographic variable terms in ClinEpi (redmine 41548). I've provided new IRIs where needed. Here's my plan for labels and definitions:

Label: specific name of administrative division + country name,
e.g. 'sub-county of Uganda', 'union council of Bangladesh'

Definition: ENVO administrative level + country name,
e.g. "A fourth-order administra

[2021-10-21 11:42] SAK22 commented on #242
@cstoeckert just one is the answer :) 1 Florida Keys Mosquito Control district organization.

[2021-11-01 16:21] wbazant opened #246 "NTR: version of the "_ detected" terms where a value will be a number"
Could I also ask for the versions of the terms where a value will be a number? "Taxon detected" was added, but "Abundance of taxon, CPM" originally wasn't. I just talked to Dan and realised we also need those, so that we can show numbers in addition to the Y/N multifilter.

https://redmine.apidb.org/issues/45788

[2021-11-01 19:35] cstoeckert commented on #246
Here is the template for NTRs:
label:
definition:
definition source:
parent:
For this request it might be:
label: count of taxon-specific sequence matches
definition: A count of the number of sequences that match a specific taxon. Usually provided as copies per million.
definition source: MicrobiomeDB
parent:  count
@wbazant does this work for you?

[2021-11-02 11:25] wbazant commented on #246
@cstoeckert It's fine, I was a bit confused because the tickets in Redmine seemed good for a while. I can make you redmine tickets that link to Github NTRs.

I also appreciate how you phrased the label, I can see it's better than what I've proposed! The ticket had:

Term | Parent | Type | Description
-- | -- | -- | --
Taxon detected | Data analysis |   | Data indicates presence of a member that ha

[2021-11-02 13:29] cstoeckert commented on #246
The ontology parent is 'count' as this is a type of count (http://purl.obolibrary.org/obo/STATO_0000047) while the web display parent can be 'data analysis' to place it topically.

[2021-11-02 15:15] wbazant opened #247 "Differentiate two "Taxon detected" terms"
Remove a clash with the other "Taxon detected".
change: "Taxon detected by microbiology test" and "Taxon detected by sequence match"?

Apply also to "Fungus detected" etc. I guess.

@zhengj2007

[2021-11-02 18:07] zhengj2007 commented on #247
I will check the clinEpi. May need to use different labels. I mean how we name them in the terminologies not in the VEuPathDB ontology.

[2021-11-03 14:21] cstoeckert commented on #246
We will create this term but want to label for the ontology as 'number of taxon-specific sequence matches' to be consistent with sibling terms in the VEuPathDB ontology.

[2021-11-03 14:36] cstoeckert commented on #247
@wbazant These are currently place holder terms but we want to make these ontology terms. Please provide initial definitions for the taxon detected by sequence match terms (including subclasses like fungus detected).

[2021-11-03 16:41] cstoeckert commented on #246
Follow up information indicates that this may not be a count (a data item denoted by an integer and represented the number of instances or occurences of an entity). An example value is 12.34 CPM (copies per million reads).

How about this?
label: normalized number of taxon-specific sequence matches
alternative label: taxon-specific sequence matches
definition: A data item of the normalized number

[2021-11-04 10:33] wbazant commented on #247
@cstoeckert
how about:

Taxon detected: whether a method based on sequence match that was applied to reads coming from a sequencing assay of the sample has detected a taxon.
Fungus detected: whether a method based on sequence match that was applied to reads coming from a sequencing assay of the sample has detected a fungus.

[2021-11-04 10:37] wbazant commented on #246
parent: data item is good! adding normalized is a good way out. I think the definition really highlights that CPMs are a confusing unit, but the label including "normalized" should communicate that you can compare this number across samples and that the bigger the number, the bigger the amount of the taxon that was detected.

[2021-11-10 15:25] cstoeckert commented on #247
label: taxon detected by sequence match
ontology parent: data item
definition: A data item that indicates whether a method based on sequence match that was applied to reads coming from a sequencing assay of the sample has detected a taxon.
definition source: MicrobiomeDB

[2021-11-10 15:27] cstoeckert commented on #247
label: fungal taxon detected by sequence match
ontology parent: taxon detected by sequence match
definition: A taxon detected by sequence match that indicates whether a fungal taxon was detected.
definition source: MicrobiomeDB

@wbazant please let us know if this and the above "taxon detected by sequence match" is OK and we will create them.

[2021-11-10 16:22] wbazant commented on #247
@cstoeckert
I've thought for a while what a difference between detecting a fungus vs. detecting a fungal taxon is, and whether a taxon is even something you can detect rather than only being something you can read about in a book. EDAM:Taxon is a child of EDAM:Organism name, and the definition makes it clear that a taxon is a name of a group - "The name of a group of organisms belonging to the sam

[2021-11-10 17:30] cstoeckert commented on #247
Great point @wbazant ! This is where ontological realism can be useful. What is actually being detected? If talking about a sequence match (data aligning with other data), then initially at least, it is not an actual fungus that was detected but rather a sequence with characteristics of a fungal sequence. An individual organism exists independent of sequence matching so it doesn't seem right to sa

[2021-11-10 18:31] wbazant commented on #247
Hm, the method does actually try to detect a taxon! Each taxon is represented through a few sequences of marker genes, and different pieces of evidence are weighed up against each other on the level of whole taxa. The results aren't a list of sequences like in a BLAST match, but names of taxa.

How about this definition: A data item that indicates whether a method applied to data coming from a seq

[2021-11-11 14:38] SAK22 opened #248 "NTR: L43F-CYP4J5"
label: CYP4JF-L43F ? OR just L43F @bobular ?
parent term: ?
definition: Pyrethroid resistance associated point mutation (L-F), located within a p450 gene in the 2La inversion.

@bobular can you check my definition too?

[2021-11-11 16:34] cstoeckert commented on #247
I'm OK with this one: A data item that indicates whether a method applied to data coming from a sequencing assay of the sample has detected a taxon through identifying sequences associated with organisms of a particular taxonomic grouping.
Also with keeping the 'taxon detected by sequence match' label where taxon is understood not be the organism but the name of a taxonomic grouping.

[2021-11-11 18:19] zhengj2007 opened #249 "Update two OMIABIS with OBIB IDs"
OBIB assigned OBIB prefix IDs to OMIABIS terms. So, we need to remove two following terms from externalByhand.owl
OMIABIS_0001011 count of current total human study participant
OMIABIS_0001018 cross sectional study design

Import the terms using OntoFox from OBIB:
OBIB_0000687 count of current total human study participant
OBIB_0000694 cross sectional study design

Need work on it when new OBIB re

[2021-11-12 12:53] wbazant commented on #247
Great! This label + definition, and the current 'Taxon detected' getting changed to 'Taxon detected by microbiology test', would be a great resolution of this NTR.

[2021-11-15 19:36] johnwjudkins commented on #247
@wbazant I've assigned these IRIs:
EUPATH:0009269 'normalized number of taxon-specific sequence matches'
EUPATH:0009270 'taxon detected by sequence match'
EUPATH:0009271 'fungal taxon detected by sequence match'

[2021-11-15 20:25] cstoeckert commented on #247
Also change labels accordingly:
animal taxon detected by sequence match
plant taxon detected by sequence match
protist taxon detected by sequence match

[2021-11-15 20:29] cstoeckert commented on #247
EUPATH:0009269 'normalized number of taxon-specific sequence matches' for issue #246
EUPATH:0009267 'taxon detected by sequence match' (reuse IRI)
EUPATH:0009268 'fungal taxon detected by sequence match' (reuse IRI)

[2021-11-17 15:43] cstoeckert commented on #248
@SAK22 To make this term, we need to know what is the reference Protein Ontology term it refers to. Then we can create the allele as we did for the insecticide resistance alleles (e.g., PR_000050412 Kdr V1016G) and create a prevalence term if needed.

[2021-11-17 15:49] cstoeckert commented on #247
The labels have been changed in microbiomedb.owl but still need to add to the VEuPathDB ontology

[2021-11-17 19:13] #241 closed

[2021-11-18 09:57] SAK22 commented on #248
Hmmm I can't find it, will try different variations of this to try and look and let you know @cstoeckert

[2021-11-18 18:13] cstoeckert commented on #248
After discussion with @SAK22 and @bobular we will create a term analogous to http://purl.obolibrary.org/obo/EUPATH_0043162 'prevalence of Kdr V1016G' and then add in axioms to the mutation and protein later after they are submitted to PR.
label: 'prevalence of CYP4J5 L43F'
definition: A data item that is the output of an assay to quantify the frequency of the genetic variation resulting in cytochr

[2021-11-18 18:20] bobular commented on #248
Thanks!  It's possible that the capitalization should be Cyp4J5 - proteins are all caps, and genes are just capitalized?
This is a mutation in the gene, but the numbering is protein-based.  Very confusing!

[2021-11-18 18:27] johnwjudkins commented on #248
Reserving EUPATH:0043234 for this term. @SAK22 @bobular

[2021-11-18 20:45] johnwjudkins opened #254 "GAZ terms & children in VEuPath"
Assuming we merge #253, that leaves 'geographic location' with 3 children in VEuPath: 2 VEuPath terms ('clinic location', 'community') and another GAZ term, 'continent'.

Do we still need any of these? 'clinic location' is not in any project and 'continent' is only used in eupath_isa.owl. 'community' EUPATH:0022001 is in the Amazonia projects as 'Settlement'.

[2021-11-19 14:32] #246 closed

[2021-11-19 14:32] #242 closed

[2021-11-19 16:20] SAK22 commented on #248
Thank you!

[2021-11-22 18:35] zhengj2007 opened #257 "Issues of Robot modules"
The ontology base and xml namespace are different from the ontology IRI for two modules:
- src/ontology/modules/protein_variant.owl
     - xmlns, and xml:base: http://purl.obolibrary.org/obo/chebi_roles.owl
     - ontology IRI: http://purl.obolibrary.org/obo/eupath/dev/chebi_roles.owl
- src/ontology/modules/protein_variant.owl
     - xmlns, and xml:base: http://purl.obolibrary.org/obo/protein_vari

[2021-11-24 15:19] #243 closed, assigned to johnwjudkins

[2021-11-24 15:25] #247 closed

[2021-12-01 15:17] #257 closed

[2021-12-01 15:20] cstoeckert commented on #254
Leaving them in for now. Will check on replacing GAZ terms after build 55 release and then discuss then.

[2021-12-01 15:22] cstoeckert commented on #249
OBIB release is out.

[2021-12-01 15:23] cstoeckert commented on #176
This is ready too as OGMS and OBIB new releases are out.

[2021-12-01 15:34] cstoeckert opened #260 "MicrobiomeDB terms that need to be defined and added to VEuPathDB ontology"
A pointer to a googledoc will be added here.

[2021-12-06 10:25] bobular opened #262 "NTR: material portioning import from OBI"
Needed for the process protocol that transforms a popbio "collection" into a "sample"

http://purl.obolibrary.org/obo/OBI_0600018

[2021-12-07 15:57] johnwjudkins opened #263 "import list for terms referenced by ClinEpi placeholders"
This is in addition to OBI terms we created and imports mentioned in other tracker items. I'm not sure about using SNOMED terms, but no other ontology has these E. coli types.

IRI | label | parent (blank if computed by ontofox)
-- | -- | --
http://purl.obolibrary.org/obo/NCBITaxon_35336 | Rotavirus G4 |  
http://purl.obolibrary.org/obo/NCBITaxon_2560525 | Human orthorubulavirus 2 |  
http://purl.

[2021-12-07 17:38] zhengj2007 commented on #263
For microbiomeDB, we'd like to import
http://purl.obolibrary.org/obo/ECTO_9002101 exposure to pyrethroid insecticide

[2021-12-08 15:33] #249 closed

[2021-12-08 15:41] cstoeckert commented on #263
Let's wait on terms from FLU and SNOMED. Others should be OK.

[2021-12-08 15:45] cstoeckert commented on #254
Let's also wait for VEuGEO to replace GAZ.

[2021-12-08 15:47] cstoeckert commented on #176
taken care of by import term PR.

[2021-12-08 15:47] #176 closed

[2021-12-13 19:13] johnwjudkins commented on #263
A few more taxon terms:

http://purl.obolibrary.org/obo/NCBITaxon_130309 Human mastadenovirus F (Adenovirus 40/41 in ClinEpi)
http://purl.obolibrary.org/obo/NCBITaxon_10407 Hepatitis B virus
http://purl.obolibrary.org/obo/NCBITaxon_11103 Hepacivirus C (Hepatitis C virus in ClinEpi)
http://purl.obolibrary.org/obo/NCBITaxon_11676 Human immunodeficiency virus 1

[2021-12-14 20:51] zhengj2007 opened #265 "phenotype terms for geneomic dataset"
Fungal phenotype terms:

phenotype: resistance to azole
 http://purl.obolibrary.org/obo/OMP_0006055

phenotype: resistance to posaconazole
 http://purl.obolibrary.org/obo/PHIPO_0000625

phenotype: resistance to voriconazole
 http://purl.obolibrary.org/obo/PHIPO_0000590

(Details see https://redmine.apidb.org/issues/46756)

Please import the terms to VEuPathDB ontology

[2021-12-15 15:09] cstoeckert commented on #265
Agree that this should go in next release.

[2021-12-15 15:30] cstoeckert commented on #207
taken care of with a merge PR already.

[2021-12-15 15:30] #207 closed

[2022-01-06 14:54] zhengj2007 commented on #186
The term 'study cluster information' (EUPATH_0000797) is not used in any projects.

Comments from Sheena: Discussed with ClinEpi Outreach and decided to change "Cluster level information" to "Health center level information" to better match how we have "Village level information" and "School level information" when the clusters are based around Villages and Schools.

So, we may keep the term as th

[2022-01-06 18:12] #265 closed

[2022-01-06 19:42] #263 closed

[2022-01-10 14:44] #262 closed

[2022-01-13 18:25] johnwjudkins commented on #131
CMO definitions are now values of IAO:0000115. Closing.

[2022-01-13 18:25] #131 closed

[2022-01-13 18:51] johnwjudkins commented on #128
In OMRSE and imported. Closing.

[2022-01-13 18:51] #128 closed

[2022-01-13 18:53] #125 closed

[2022-01-18 18:23] #214 closed

[2022-01-19 15:14] johnwjudkins commented on #143
This term is deprecated. Closing.

[2022-01-19 15:14] #143 closed

[2022-01-19 16:18] johnwjudkins opened #278 "label changes to organism identification data terms"
The presence_data and raw_data templates are constructed so that terms in the resulting module include the organism, assay, and specimen type in their labels and definitions e.g. 'Plasmodium in umbilical cord blood by microscopy assay datum'. However, some similar terms are already in the ontology whose labels and definitions do not mention the specimen type. For example, EUPATH:0023004 is 'presen

[2022-01-19 16:45] johnwjudkins commented on #166
@zhengj2007 Can we close this?

[2022-01-19 18:04] wbazant opened #280 "microbiome_human_only.owl: ontology mapping with files from MBSTDY0021 folder"
This is about adjusting the sample details mapping in the new .owl so I can use it for EDA data loading.

Because EDA allows an entity graph, we no longer need separate studies for different result types. I've merged some files,  producing a new folder, MBSTDY0021. See here: https://github.com/VEuPathDB/ApiCommonMetadataRepository/tree/master/ISA/metadata/MBSTDY0021. The previous folder was MBSTDY

[2022-01-19 18:56] johnwjudkins opened #281 "raw_data template and the 'threshold cycle'/'Ct value' terms"
Similar to #278. Before EDA changes, ClinEpi had many terms for Ct values, which result from flurogenic PCR assays to identify organisms. At that time, we added these placeholder terms to the ontology as children of 'threshold cycle' (STATO) and labeling them accordingly.

However, EDA changes have resulted in "Ct value" being removed from the label and becoming the unit of those terms instead. No

[2022-01-19 19:20] zhengj2007 commented on #280
@wbazant The microbiome_human_only.owl is generated from the tab-delimited file:
https://github.com/VEuPathDB/ApiCommonData/blob/master/Load/ontology/Microbiome/doc/Microbiome_human_only_conversion.csv

It contains the column 'dataFile' to specify the sample file name. We can update the dataFile name as you request and the variables accordingly. The variable name is made as {dataFile}::{header}(va

[2022-01-19 20:06] zhengj2007 commented on #166
Yes. Please go ahead to close the issue.

[2022-01-19 21:58] #166 closed

[2022-01-21 16:24] wbazant opened #283 "NTR: Oral diet at 2 months of age"
This is the term:

variable NICUDischarge.txt::EnteralFeeds_2mo
term:EUPATH_0009273
parent: EUPATH_0000678
label: Oral diet at 2 months of age

This term made it into last release but then disappeared.

 I've found it with this command:
[code]

Jie your commit from Nov 17 adds the term only to the .owl, and commit from Dec 6 removes it from the owl.

[code]

Can you add this term to the human only

[2022-01-21 16:29] wbazant commented on #280
Done! I've updated the conversion file or the sample detail files for everything that was different. The only one I couldn't do was

https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/issues/283

Details of the changes I made can be viewed in git - I tried to change one thing at a time and put all the details in history.

conversion file https://github.com/VEuPathDB/ApiCommonData/commits/mas

[2022-01-21 19:22] zhengj2007 commented on #283
The term may be removed by mistake.

Add the term back in both microbiome.owl and microbiome_human_only.owl

[2022-01-21 19:22] #283 closed

[2022-01-21 19:23] zhengj2007 commented on #280
Have added the term back in the conversion file and remade the microbiome_human_only.owl.

[2022-01-24 18:30] wbazant commented on #280
I've changed the conversion file slightly: https://github.com/VEuPathDB/ApiCommonData/commit/c85e8c4d01119 so that EnteralFeeds_2mo also has the NICUDischarge.txt:: in front, but I can work with the owl you made, thank you!

[2022-01-24 18:34] zhengj2007 commented on #280
@wbazant I remade the OWL file base on the updated conversion file.

[2022-01-25 17:40] wbazant commented on #280
The terms agree now!

[2022-01-25 17:40] #280 closed

[2022-01-26 15:39] zhengj2007 commented on #278
Add the old label as alternative term if the meaning is same.

[2022-01-26 15:54] zhengj2007 commented on #281
Will keep the labels for this release and discuss with the ClinEpi outreach team to see whether we need to improve the labels.

[2022-01-27 16:39] wbazant opened #284 "NTRs: terms for microbiomeDB assays"
I realised I need additional ontology terms for EDA to be able to have multiple types of data on one study: we use ontology types for EDA entity types. Here are terms I would need to annotate all our studies. Currently I use "DNA sequencing assay" for everything, but that doesn't let me have two types of data for one study. Could you import OBI_0002623 and OBI_0002763, and then make new terms for

[2022-02-02 15:30] #284 closed

[2022-02-02 15:37] zhengj2007 commented on #186
Keep 'study cluster information' (EUPATH_0000797), add "Health center level information", "Village level information" and "School level information" as its subClass. Will confirm with outreach team.

[2022-02-04 15:36] zhengj2007 commented on #278
We would like to add the labels of organism identification data used in the ClinEpi in the ontology as alternative labels. However, organism identification data in different sample types used same labels. For example, we have four 'Salmonella, by multiplexed qPCR' terms in clinEpi, detected from 4 different sample types, 'Salmonella in pleural fluid|Salmonella in induced sputum|Salmonella in lung

[2022-02-04 21:46] johnwjudkins opened #288 "Terms in assay module now have equivalents in OBI."
The following EUPATH terms now have OBI equivalents and thus can be deprecated:

EUPATH ID | label | OBI ID | label
-- | -- | -- | --
EUPATH:0011797 | urine test | OBI:0003043 | urine assay
EUPATH:0032386 | induced sputum test | OBI:0003234 | induced sputum assay
EUPATH:0036568 | feces test | OBI:0003237 | feces assay
EUPATH:0038346 | cerebrospinal fluid test | OBI:0003232 | cerebrospinal fluid as

[2022-02-04 22:45] johnwjudkins opened #289 "EUPATH:0000355 should be relabeled as 'secondary occupation'"
The 'make' command failed due to EUPATH:0000355 being dropped accidentally.

EUPATH:0000355 is 'secondary economic activity', a child of 'economic activity', which we are deprecating. However, EUPATH:0000355 is still used in ICEMR projects ('Occupation 2'). This term has as a sibling EUPATH:0000359 ('Occupation'), which is in the ontology as 'occupation'.

I think the best way to fix this is to re

[2022-02-07 18:20] johnwjudkins commented on #288
This merge deprecates these EUPATH terms; closing.

[2022-02-07 18:20] #288 closed

[2022-02-08 19:32] johnwjudkins commented on #289
Resolved in pull request; closing.

[2022-02-08 19:32] #289 closed

[2022-02-09 17:43] zhengj2007 opened #291 "Issue in VEuPathDB release candidate"
Found two terms, UBERON_0001062 and CARO_0000000 with same label 'anatomical entity'. Both terms are used in UBERON. I have submitted the issue to UBERON, https://github.com/obophenotype/uberon/issues/2296.

We can make the release as it but add the issue in the release note. Or manually replace CARO_0000000 by UBERON_0001062 in the imported UBERON file to temporarily solve the issue. Current two

[2022-02-09 21:46] johnwjudkins commented on #291
I'll go with the manual replacement option.

[2022-02-09 21:49] zhengj2007 commented on #291
I think we may also need to replace CARO_0000000 by UBERON_0001062 in the imported CARO file. Hope it can fix the issue.

[2022-02-15 13:57] #291 closed

[2022-03-03 20:17] johnwjudkins opened #296 "differences in clinical-chemistry-data axioms and raw data terms"
The data terms created by the clinical-chemistry-data template have the axiom
`is_specified_output_of some ('analyte assay' and realizes some ('analyte role' and 'role of' some %) and realizes some ('evaluant role' and 'role of' some '...specimen'))`
where % is a molecular entity detected by the assay.

However, data terms about the detection of an _organism_, as we discussed, should have the axio

[2022-03-04 19:32] zhengj2007 commented on #296
So, for detection data item, we will use pattern:

[code]
right?

[2022-03-04 20:56] johnwjudkins commented on #296
Right.

[2022-03-04 20:56] zhengj2007 commented on #260
| Display label  | Variable |
|---|---|
|Amoxacillin | w_Amoxacillin|
|Ampicillin | w_Ampicillin|
|Ampicillin sulbactam | w_AmpicillinSulbactam|
|Cefazolin | w_Cefazolin|
|Cefepime | w_Cefepime|
|Cefotaxime | w_Cefotaxime|
|Cefoxitin | w_Cefoxitin|
|Clindamycin | w_Clindamycin|
|Fluconazole | w_Fluconazole|
|Gentamicin | w_Gentamicin|
|Meropenem | w_Meropenem|
|Metronidazole | w_Metronidazole|
|Ox

[2022-03-04 21:08] zhengj2007 opened #297 "issue labels"
May consider to add issue status labels, such as
- status - in progress
- status - pause
- status - pending

We may also delete unused labels, such as enhancement, duplicate, etc.

Question: what difference between label 'curation' and 'NTR'?

[2022-03-08 20:15] johnwjudkins commented on #297
I suppose we don't need 'curation'. We have 'NTR', and issues about changing labels or definitions or adding axioms etc. would fall under 'cleanup' or some new label more specific than 'curation'.

[2022-03-09 14:18] johnwjudkins commented on #297
I agree with deleting unused labels.

[2022-03-09 14:54] zhengj2007 commented on #297
I checked the redmine ticket. 'curation' refers to Annotation/Curation team. So, we need to keep the label.

[2022-03-11 18:41] zhengj2007 commented on #297
Removed unused labels
Added descriptions to labels
Added new label 'Pending' to tag the issues that wait for the changes/decisions made in other resources.

[2022-03-11 18:56] zhengj2007 commented on #132
The annotation properties have been deprecated.

[2022-03-11 18:56] #132 closed

[2022-03-11 19:00] zhengj2007 commented on #126
It seems the terms were added and the definition issue was fixed.

@johnwjudkins Shall we close the issue?

[2022-03-11 19:02] zhengj2007 commented on #121
The relation has been deprecated.

[2022-03-11 19:02] #121 closed

[2022-03-11 19:06] #130 closed

[2022-03-11 19:17] zhengj2007 commented on #84
It seems terms have been add in the OGMS.

@johnwjudkins Shall we close the issue?

[2022-03-11 19:18] zhengj2007 commented on #81
@johnwjudkins Could you please follow up on it?

[2022-03-11 19:20] zhengj2007 commented on #41
@johnwjudkins Shall we close it?

[2022-03-11 19:48] #126 closed

[2022-03-11 21:20] johnwjudkins commented on #81
I will follow up, but first I think I may be able to improve on the definitions I gave.

Anyway, the reason I raised this issue is to logically define 'ear thickness' from ClinEpi, but we could import http://purl.obolibrary.org/obo/OBA_VT0000142. This ontology is in active development.

[2022-03-16 14:52] zhengj2007 commented on #168
Discussed on Mar 16th and asked Eve to follow up the data provider for definition of 'genetic lineage'.

[2022-03-17 17:02] johnwjudkins commented on #186
Following up with Outreach - please comment on whether you agree with Jie's suggestions.

[2022-03-17 18:08] johnwjudkins commented on #105
@SAK22 @bobular Following up on previous question in this thread. The taxon names in the table above (the ones that aren't struck out) have VEuPath IDs, not NCBITaxon. Should any of these be submitted to NCBI?

[2022-03-18 10:55] SAK22 commented on #105
This is tricky @johnwjudkins I would say do not request Anopheles culicifacies AD subgroup or Aedes atlanticus-tormentor morphological group and let me get back to you on the others after some discussion with @bobular . It is so tricky as you look in one inventory, it places them in one place, look at another it is elsewhere or does not exist at all! Mosquitoes seem to move around their tree a lot

[2022-03-18 17:35] zhengj2007 commented on #186
Discussed on Mar 18 clinEpi meeting. Confirmed with the outreach team that we will keep 'study cluster information'  and add "Health center level information", "Village level information" and "School level information" as its subClass in the ontology.

[2022-03-18 17:38] zhengj2007 commented on #186
@johnwjudkins Could you please add "Health center level information", "Village level information" and "School level information" with parent and definitions in the placeholder sheet? Thanks!

[2022-03-22 14:31] johnwjudkins opened #299 "error running make imports"
@zhengj2007
Running `make imports` does not update the owl files and instead gives this:

`[Fatal Error] :1:50: White spaces are required between publicId and systemId.
INVALID ONTOLOGY FILE ERROR Could not load a valid ontology from file: import_EFO.owl
For details see: http://robot.obolibrary.org/errors#invalid-ontology-file-error`

The same occurs with any import file (not just EFO). However, t

[2022-03-22 17:59] zhengj2007 commented on #299
It seems the ontoFox service has some problem. I have contacted Oliver He for fixing it.

[2022-03-22 18:48] zhengj2007 commented on #299
Fixed the issue. Should work now.

[2022-03-22 18:57] johnwjudkins commented on #299
@zhengj2007 I still get the same error.

[2022-03-22 19:11] johnwjudkins commented on #299
`make -B imports` worked. Thanks.

[2022-03-22 19:11] #299 closed

[2022-03-23 13:03] SAK22 opened #303 "NTRs: mosquito magnet liberty plustm catch AND lurex"
Hello! Pretty please can we add these terms:

term:mosquito magnet liberty plustm catch
definition: The Mosquito Magnet LibertyTM is one of the propane-powered traps that uses a counterflow technology to emit a plume of CO2, heat, and water vapor.

term:lurex
defintion: Lurex is a mosquito attractant that mimics naturally occurring human skin scents or odors known to attract mosquitoes.

[2022-03-23 15:34] #297 closed

[2022-03-23 21:00] johnwjudkins commented on #303
label: Mosquito Magnet Liberty Plus
definition: An arthropod trap that is manufactured by the American Biophysics Corporation and is designed with counterflow technology, allowing it to draw air into the device as it expels carbon dioxide, in order to draw in arthropods attracted to it.
parent: arthropod trap

label: Lurex
definition: An arthropod attractor that is manufactured by the American Bio

[2022-03-24 13:35] weili-apidb opened #304 "Can't find ontology term "Covington, LA" for the column header [city]"
Can't find ontology term "Covington, LA" for the column header [city]

Covington, LA: Covington City in Louisiana

[2022-03-24 13:44] zhengj2007 commented on #304
The value for city does not require ontology term. So, any string should work. No need to add "Covington, LA" as an ontology term.

[2022-03-24 13:46] zhengj2007 commented on #303
@SAK22 Could you please review the labels and definitions? Thanks!

[2022-03-24 14:02] weili-apidb commented on #304
Yes, agreed. It was a format issue. The column headers were messed up. Thank you.

[2022-03-24 14:02] #304 closed

[2022-03-25 14:58] SAK22 commented on #303
@zhengj2007 labels and definitions look great!

[2022-03-25 14:59] zhengj2007 commented on #303
@johnwjudkins Could you please help on adding the terms in the ontology?

[2022-03-25 20:49] johnwjudkins opened #307 "NTR: mid-upper arm circumference datum"
label: mid-upper arm circumference datum
alternative term: MUAC
definition: A length measurement datum that is the result of the first in a series of assays measuring the length around the same upper arm, such that the measurement is taken midway along the upper arm
definition source: The Mother and Child Health and Education Trust
parent: length measurement datum
subclass axiom: 'is quality measu

[2022-04-01 17:51] #41 closed

[2022-04-05 20:34] zhengj2007 commented on #303
I checked the ontology. The existing mosquito traps are added in the OBI and imported to the VEuPathDB ontology. I think we should submit 'Mosquito Magnet Liberty Plus' to OBI. I propose the label as 'Mosquito Magnet Liberty Plus trap' and add 'Mosquito Magnet Liberty Plus' as alternative label.

[2022-04-05 20:41] zhengj2007 commented on #303
For term 'Lurex', I think we'd better to label it as 'lurex attractant' for clarification and better to add logical axiom related to  L-lactic acid, http://purl.obolibrary.org/obo/CHEBI_422

[2022-04-06 09:33] SAK22 commented on #303
Hi @zhengj2007 yes it is a type of mosquito magnet you are correct.

[2022-04-06 13:40] zhengj2007 commented on #303
Thanks @SAK22

@johnwjudkins We should add 'Mosquito Magnet Liberty Plus trap' as a subClass of 'Mosquito Magnet trap'

[2022-04-06 19:18] johnwjudkins commented on #303
https://github.com/obi-ontology/obi/issues/1523

[2022-04-07 19:25] johnwjudkins commented on #303
@SAK22 Can you explain how the Liberty Plus is different from other Monster Magnet traps? Thanks.

[2022-04-08 13:51] SAK22 commented on #303
@johnwjudkins I am trying to click on the link in this page under 'products' that says compare traps to see the difference but it doesn't seem to go anywhere for me? Does it for you?
https://www.mosquitomagnet.com/store/mosquito-magnet-trap/executive/traps

[2022-04-08 14:02] johnwjudkins commented on #303
The link works for me, but the problem is the Liberty Plus trap is discontinued, so only accessories for it appear for sale on the website.

[2022-04-08 14:24] johnwjudkins commented on #303
@SAK22 The original IRO term 'mosquito magnet pro catch' had this definition: "The Mosquito Magnet ProTM (MMP) is one of the propane-powered traps that uses a counterflow technology to emit a plume of CO2, heat, and water vapor. The MMP also utilizes octenol as an attractant."

However, the associated term submitted to OBI is 'Mosquito Magnet trap' defined as "An arthropod trap that is powered by

[2022-04-08 18:03] johnwjudkins commented on #135
For the other diagnosis terms that haven't been deprecated:

ID | Label
-- | --
EUPATH:0000036 | diagnosis related to malaria
EUPATH:0021032 | diagnosis of Plasmodium falciparum diagnosis
EUPATH:0021034 | diagnosis of Plasmodium malariae within past year
EUPATH:0021033 | diagnosis of Plasmodium vivax within past year
EUPATH:0000043 | diagnosis of severe malaria

[2022-04-12 18:05] johnwjudkins opened #310 "antibody titer terms design pattern"
For 'Raw antibody titer test result' EUPATH:0011472 and children:

The following 3 terms should be submitted to OBI:

label: 'antigen specific antibodies in blood assay'
definition: An antigen specific antibodies assay that has a blood specimen as evaluant.
parent: 'antigen specific antibodies assay'

label: 'antigen specific antibodies assay datum'
definition: A data item that is the specified ou

[2022-04-12 20:57] johnwjudkins opened #312 "NTR: is_supported_by_data (OBI) relation"
I think we can use this relation to connect each child of 'presence of organism in specimen' with its associated "raw data" term (if it has one), and I can make a template following this design pattern.

For example, 'presence of Adenovirus by ELISA' is_supported_by_data some 'Adenovirus in feces by enzyme-linked immunosorbent assay datum'.

This makes sense if 'presence of organism in specimen' i

[2022-04-15 14:39] johnwjudkins opened #313 "OBI replacement term for ERO:immunoassay?"
Based on [this issue](https://github.com/obi-ontology/obi/issues/1203), is OBI:0002773 'single-value binding of antibody with reporter to antigen assay' suitable to replace ERO:0001362 'immunoassay' in VEuPath?

[2022-04-15 14:48] zhengj2007 commented on #313
Yes. Please go ahead.

OBI:0002773 'single-value binding of antibody with reporter to antigen assay' with 'immunoassay' as alternative term.

[2022-04-20 14:31] johnwjudkins commented on #303
@SAK22 So we want: a general term for Mosquito Magnet trap, one for the Pro trap, and one for the Liberty Plus trap. Please help us determine the differences between them.

[2022-04-20 14:44] #312 closed

[2022-04-20 14:46] johnwjudkins commented on #307
https://github.com/obi-ontology/obi/issues/1528

[2022-04-20 18:43] zhengj2007 commented on #313
The other ERO terms imported to VEuPathDB are:
ERO:0000722 patient screening
ERO:0001372 laparotomy

The terms are not used in any VEuPathDB projects. With replacing ERO:0001362 'immunoassay', we don't need to import any terms from inactive ERO ontology. Both ontoFox input text and output OWL file can be removed.

[2022-04-20 19:56] zhengj2007 opened #317 "Create VEuPathDB alternative template"
We decided to add the web display labels used in the database to the VEuPathDB ontology using 'VEuPathDB alternative term' annotation property.

The labels will be added using Robot module by creating a template text file (.tsv) that lists all the terms used in the database search with their ontology IDs, ontological labels (for human readable) and the display labels in the VEuPathDB.

[2022-04-20 20:01] zhengj2007 opened #318 "Deprecate EUPATH:0010001 that used in Gates datasets"
EUPATH:0010001 'obsolete antibiotic administration process' is deprecated but used in gates_gems and gates_gems1a. The ontology also have a related term, EUPATH:0010040 'information specifying antibiotic administered before stool collection'. But one is a process, the other is an ICE. Both terms used in the Gates GEMS. We may need to keep both and revert the deprecation.

[2022-04-20 20:32] zhengj2007 opened #320 "Deprecated term EUPATH:0000686 obsolete antimalarial"
The term EUPATH:0000686 obsolete antimalarial is deprecated. However, the ID is used in the clinEpi, with label, 'Household hygiene'.

To solve the issue, we either reassign the ID to 'Household hygiene' or remove the EUPATH:0000686 obsolete antimalarial from the ontology.

It seems that VEuPathDB ontology is only used for VEuPathDB now. The quick fix is to remove the EUPATH:0000686 obsolete antim

[2022-04-20 20:42] johnwjudkins commented on #318
EUPATH:0010001 was deprecated in favor of OBI:0003057. However, the label for EUPATH:0010001 in the ontology doesn't match the label in GEMS, so yes, it looks like we should revert the deprecation of EUPATH:0010001 and change the label to something like 'administration of antibiotic that precedes collecting feces specimen' (and also change the definition accordingly).

[2022-04-20 21:03] zhengj2007 commented on #318
EUPATH:0000392 obsolete information on contact with malaria
The term used in the ICEMR amazonia Peru with label 'Contact with malaria'.

[2022-04-21 18:14] SAK22 commented on #303
Yes I think you are right re the general parent term @johnwjudkins , I am trying to work out the difference and can now only find executive and patriot on their site: https://www.mosquitomagnet.com/advice/all-about/compare-traps , I will see if I can find out elsewhere!

[2022-04-21 18:21] SAK22 commented on #303
@johnwjudkins emailed their customer support to see if they can make it clearer for us.

[2022-04-21 19:18] zhengj2007 commented on #318
EUPATH:0000545 obsolete malaria rapid diagnosis test is replaced with 'malaria rapid diagnosis assay' and deprecated.
The ID is used for term 'Type of RDT' in VEuPathDB protein array site. The definition of 'Type of RDT' is Brand and name of RDT kit used not assay. So, we need to assign a new ID to 'Type of RDT'. If so, need to remove some annotation properties associated with EUPATH:0000545 obsol

[2022-04-21 22:17] zhengj2007 commented on #317
Most display labels are different from the ontological labels. Few of them are same but included for easily identifying which terms are used in VEuPathDB database served as search filters.

Two deprecated terms are in the template since the terms are used in the clinEpi studies and likely revert the deprecation.

[2022-04-22 14:32] bobular opened #323 "NTR: geolocation provenance variable and values"
Was mentioned in https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/issues/126 but for some reason we didn't action it.

The variable should be called something like "geolocation provenance"

It's a qualifier to describe how the lat/long coordinates were obtained or derived.

The values for this variable can be seen in Abundance mode on the legacy map:
![image](https://user-images.githubuser

[2022-04-22 19:33] zhengj2007 commented on #323
@bobular will discuss the terms on next Wednesday's ontology team meeting.

[2022-04-25 08:45] SAK22 commented on #303
@johnwjudkins , this did not help much!
Hello Sarah,

Thank you for reaching out to us. We appreciate your interest in our products! Both of these models have been obsolete for several years and comparison information is not available.

Please feel free to contact us with any questions, we're happy to help.

[2022-04-27 14:17] zhengj2007 opened #327 "write up the term deprecation SOP"
We need to write the SOP to document how to deprecate the terms.

[2022-04-27 14:39] zhengj2007 commented on #317
We will check with ClinEpi team for how to handle the terms with same display label.

[2022-04-27 14:44] zhengj2007 commented on #318
Submit NTR to OBI, 'peripheral blood mononuclear cell specimen'
EUPATH:0000128 'obsolete peripheral blood mononuclear cell specimen' deprecated without any replaced term. However,
The term used in the ICEMR prism with label 'Peripheral blood mononuclear cell sample'.
Need to add replaced term before deprecation.
@johnwjudkins will submit the NTR to OBI

[2022-04-27 14:47] zhengj2007 commented on #318
@zhengj2007 will assign new IDs to following two terms.
EUPATH:0048259 'obsolete saliva test' deprecated and replaced with OBI term. However, the display label of the term is 'Maternal saliva test'. The term only used in SHINE study. Suggest to revert the deprecation and update the label and definition to match how it is used in SHINE.
EUPATH:0000545 obsolete malaria rapid diagnosis test is replac

[2022-04-29 16:47] johnwjudkins commented on #318
https://github.com/obi-ontology/obi/issues/1532

[2022-04-30 09:50] bobular commented on #323
Hi @zhengj2007 thank you for taking a look at this. Any updates?

[2022-04-30 10:27] bobular opened #329 "[Draft] NTR: b57 legacy popbio terms"
I'll remove the [Draft] and `pause` tags when this is ready for action.

@SAK22 and I will also provide more info!

These are terms that have come up as "unmapped to VEuPathDB ontology" when processing the entire b57 popbio database for EDA export.  Some might be true NTRs and others we might be able to remediate through curation.

- "Aedes niphadopsis"
- "Aedes provocans"
- "Anopheles oswaldoi"
-

[2022-05-01 02:10] zhengj2007 commented on #323
@bobular John will work on the terms.

[2022-05-02 01:28] johnwjudkins commented on #323
@bobular Still working on it.

[2022-05-02 14:55] johnwjudkins commented on #323
@bobular If these are approved, I'll make a pull request and give these VEuPath IDs.

VEuPathDB alternative term: VBcv:0001143
label: geolocation provision information
definition: Geolocation provenance information that specifies that data were provided directly from a source, rather than estimated or calculated.
parent: geolocation provenance information

VEuPathDB alternative term: VBcv:0001155

[2022-05-03 19:26] johnwjudkins commented on #318
Regarding EUPATH:0010001:
label: antibiotic administration preceding feces collection
definition: A study design execution in which a feces specimen is collected from an organism after the administration of an antibiotic to the organism, in order to determine effects of the antibiotic.
parent:'study design execution'
subclass axiom: 'has part' some ('antibiotic administration process' and precedes

[2022-05-04 13:43] zhengj2007 commented on #318
EUPATH:0048259 'obsolete saliva test' deprecated and replaced with OBI term.
I checked the SHINE study. It contains several maternal tests. 'Maternal saliva test' is one of them. It is only used in the SHINE study. I think the term was added the in VEuPathDB ontology by mistake. I prefer to remove the term from the deprecated term module. We can add the term in with other maternal tests.

[2022-05-04 19:16] johnwjudkins opened #333 "update axiom of EUPATH_0000219 'time of screening'"
Related to #326:

'time of screening' is defined axiomatically such that it `'is about' some 'patient screening'`, even though 'patient screening' is an ERO term, and we are deprecating those. In the pull request I submitted a change going one parent up from 'patient screening' so that the axiom becomes `'is about' some assay`.

I did suggest a 'patient screening' term [here](https://github.com/ob

[2022-05-04 20:53] zhengj2007 commented on #318
EUPATH:0000545 obsolete malaria rapid diagnosis test is replaced with 'malaria rapid diagnosis assay' and deprecated.
The ID is used for term 'Type of RDT' in VEuPathDB protein array site. The definition of 'Type of RDT' is Brand and name of RDT kit used not assay.
So, assigned new ID, **EUPATH_0005032**, to term 'Type of RDT' in protein array

[2022-05-04 21:21] zhengj2007 commented on #333
We need the help from clinEpi team to understand the meaning of 'Timing of enrollment'

[2022-05-05 09:51] SAK22 opened #334 "NTRs: Tick bacteria"
Hello! So these can all be found in NCBItaxon and for Vectorbase we need these for tick-borne bacteria data :)

Babesia microti
Anaplasma phagocytophilum
Borrelia miyamotoi
Borreliella burgdorferi

Thank you!

[2022-05-05 10:00] SAK22 opened #335 "NTRs: Tick species"
Please could we add these tick species.

Amblyomma maculatum
Amblyomma americanum
Amblyomma cajennense
genus Amblyomma
genus Rhipicephalus
Rhipicephalus sanguineus
genus Dermacentor
Dermacentor variabilis
Dermacentor occidentalis
Dermacentor andersoni
Ixodes pacificus

Thank you!

[2022-05-05 10:20] SAK22 opened #336 "NTR: citizen science collection"
Please could we add a tick collection method:

citizen science collection

A broad term used as we do not know the exact method of how the general public collected their tick specimens as part of this project: https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0199644#sec020

[2022-05-05 13:58] bobular commented on #329
I just edited the description with an updated list. The b57 dump is about half done, so this is still in draft. Just giving an idea of how many terms we'll need to handle in the next month or two (the b57 dump is just a technical test, so we will exclude any datasets with issues) @SAK22

[2022-05-05 15:58] zhengj2007 commented on #318
Summary of actions of the deprecated terms
EUPATH:0010001 'obsolete antibiotic administration process'
	- revert deprecation
EUPATH:0000392 'obsolete information on contact with malaria' 
	- revert deprecation
EUPATH:0000128 'obsolete peripheral blood mononuclear cell specimen' 
	- Need to add OBI replacement when it is available
EUPATH:0048259 'obsolete saliva test' 
	- remove from obsolete modul

[2022-05-05 16:01] weili-apidb opened #337 "Missing ontology terms from FungiDB"
The following ontology terms are missing from FungiDB (fung-inc):
Could not determine Accession Number for: [elk]
Could not determine Accession Number for: [deer]
Could not determine Accession Number for: [ferret]
Could not determine Accession Number for: [bird]

[2022-05-05 16:09] SAK22 opened #338 "NTR: Tick developmental stages"
Hello,

I am not sure would I need to add new terms for this developmental stages specifically for ticks? or can I use other terms?

nymph

[2022-05-05 17:05] zhengj2007 commented on #337
Here are the mapped NCBITaxon terms with scientific names of the organism
[elk] - NCBITaxon_1574408 Cervus canadensis
[deer] - NCBITaxon_9850 Cervidae
[ferret] - NCBITaxon_9669 Mustela putorius furo
[bird] - NCBITaxon_8782 Aves

If the terms are used in organism annotation, please add the terms with mapped ontology IDs in the ontologyMappings.xml. It should fix the loading issues. Please let me kn

[2022-05-05 17:12] #313 closed

[2022-05-05 17:13] #281 closed

[2022-05-06 18:17] weili-apidb commented on #337
It works now. Thank you,

[2022-05-06 18:17] #337 closed

[2022-05-11 13:35] johnwjudkins commented on #303
@SAK22 I came up with this:

Label:
Definition: An arthropod trap that is designed to emit a combination of carbon dioxide, heat, water, and oct-1-en-3-ol attractants while simultaneously using suction to trap arthropods. This trap has the same design as the Mosquito Magnet Pro trap but is smaller, is more lightweight, and uses a main line electricity supply instead of propane to power itself. Bot

[2022-05-11 14:27] zhengj2007 commented on #334
Will add the NCBItaon terms in the ontology

[2022-05-11 14:29] zhengj2007 commented on #335
@johnwjudkins will check the terms in NCBITaxon and import the terms.

[2022-05-11 18:57] johnwjudkins opened #340 "immediate clinical history terms"
'immediate clinical history' is no longer used by ClinEpi and should be deprecated. Its child, 'diarrheal treatment immediate history', is 'Previous diarrheal care' in ClinEpi. I think the ontology label should be changed to 'previous diarrheal treatment'.

[2022-05-12 10:18] bobular opened #341 "NTR: "surveyed species" for surveillance studies"
Background: rather than store a 18 million records for zero occurrence of species X in location Y at collection event/time Z (compare this to less than 2 million non-zero occurrence records - the point being that storing all the zeroes is a major performance drag) we will store in the "collection event" a list of species (e.g. multi-valued variable) that were "looked for" in that particular study.

[2022-05-12 18:50] zhengj2007 commented on #317
There are some terms with same display labels in clinEpi. Here are some examples,

|ID|Ontological label|Display label|
|---|---|---|
|DOID:2355|	anemia	|Anemia|
|EUPATH:0033382|	diagnosis of anemia at discharge|	Anemia|
|HP:0033045|	Bipedal edema|	Bipedal edema|
|EUPATH:0015117|	bipedal edema symptom or sign information|	Bipedal edema|
|EUPATH:0025044|	diagnosis of diarrhea|	Diarrhea|
|EUPATH:001

[2022-05-12 19:51] #335 closed

[2022-05-12 19:51] #334 closed

[2022-05-13 14:05] johnwjudkins commented on #340
Decided on 'previous diarrheal treatment datum' because it is not a process.

[2022-05-13 15:49] zhengj2007 opened #347 "OMO import"
Due to versionIRI redirection removed in the PURL configuration, current OMO versioned import does not work.

Propose:
1. Always import the latest OMO version in the eupath_dev.owl
    using http://purl.obolibrary.org/obo/omo.owl rather than http://purl.obolibrary.org/obo/omo/2020-06-08/omo.owl
2. Indicate the version of imported ontology in the release notes. It should include both BFO and OMO

[2022-05-13 16:11] #320 closed

[2022-05-13 20:43] #340 closed

[2022-05-16 18:35] zhengj2007 commented on #296
Current the terms are specified as 'data item'. I think they are all 'measurement datum'.

We may request to discuss it in the OBI call.

[2022-05-17 20:44] zhengj2007 commented on #150
@johnwjudkins Could you please document the rule for naming the terms?

[2022-05-17 21:02] #347 closed

[2022-05-18 13:38] SAK22 commented on #303
@johnwjudkins I am happy with the above :)

[2022-05-18 13:48] #333 closed

[2022-05-18 13:50] zhengj2007 commented on #150
I think we'd better to create a naming convention wiki page to record it.

[2022-05-18 14:48] zhengj2007 commented on #303
Add the notes about this issue in the release notes.

[2022-05-18 16:52] SAK22 commented on #336
This looks great!

[2022-05-18 16:54] SAK22 commented on #338
I will just need the term nymph :)
I used larva and adult terms that we use in mosquito work from IDOMAL

[2022-05-18 19:01] zhengj2007 commented on #338
Since IDOMAL is inactive, we need to replace the IDOMAL terms with other active OBO Foundry ontology terms.

Regarding nymph, do this term work for you @SAK22 :
http://purl.obolibrary.org/obo/UBERON_0000070 pupal stage

If so, for other terms, you may consider:
http://purl.obolibrary.org/obo/UBERON_0000069 larval stage
http://purl.obolibrary.org/obo/UBERON_0000066 fully formed stage (adult stage)

[2022-05-18 19:36] bobular commented on #323
That all looks great. Thank you.

[2022-05-18 19:44] bobular commented on #341
Hi @zhengj2007, sure thing

Label: surveyed species
Definition: A multi-valued variable that will contain the list of species that were targeted in a surveillance collection in a particular study. This will typically be the superset of all species found or expected to be found in the geographic region surveyed by the study.
Example: A study performed in North America might have a list such as [ 'A

[2022-05-18 20:25] zhengj2007 commented on #341
@bobular Thanks for the example. Ontology team will work on it together next week.

[2022-05-19 14:11] johnwjudkins opened #355 "OMO annotation conflicting with BFO"
@zhengj2007
OMO in its latest release has replaced 'alternative term' with 'alternative label', conflicting with BFO and other ontologies. (I see no other similar issues.)

This raises 2 issues:

1. Which label do we use? [This](https://github.com/information-artifact-ontology/ontology-metadata/issues/8) suggests it should be 'alternative label'?
2. How do we fix this in the .owl file?

Issue 2 ma

[2022-05-19 14:24] zhengj2007 commented on #355
We should use 'alternative label'. We can change the label in the release eupath.owl file.

[2022-05-19 19:00] bobular commented on #341
Hi @zhengj2007  - please pause on this term - we might not need it any more!

[2022-05-19 19:02] zhengj2007 commented on #341
@bobular OK. Sounds good.

[2022-05-19 21:30] #355 closed

[2022-05-23 14:57] johnwjudkins commented on #323
I'm going to add the VBcv IDs as 'definition source', not 'VEuPathDB alternative term'.

[2022-05-24 14:50] johnwjudkins opened #357 "rename 'diagnosis at hospitalization' & add axiom"
'diagnosis at hospitalization' should be renamed to 'diagnosis at admission' - it is meant to refer to OMRSE:'admission process'. Besides the label change, an axiom should connect the two terms; I propose

'part of' some (is_specified_output_of some 'admission process').

Similarly, 'diagnosis at discharge' should have the axiom

'part of' some (is_specified_output_of some 'patient discharge').

T

[2022-05-26 13:57] bobular commented on #329
Full list now updated (using build 57 data).

@SAK22 and I will need to figure out what needs adding to VEuPathDB ontology and what needs curating away.

[2022-06-01 20:19] johnwjudkins opened #358 "Generating term lists to accompany release notes"
The notes for the latest pre-release include a long sheet that lists all additional terms. This term list is important but could be placed elsewhere to save space on the release page. I propose a new-terms folder in this repo to contain lists of the new terms for each release including imports; each list can be generated using the ROBOT diff command on both the current and previous release. The Ma

[2022-06-15 14:43] zhengj2007 commented on #336
Available in the release version

[2022-06-16 20:13] zhengj2007 commented on #357
'diagnosis at hospitalization' should be renamed to 'diagnosis at hospital admission'

[2022-06-17 14:08] #336 closed

[2022-06-22 14:31] #358 closed

[2022-06-22 14:34] zhengj2007 commented on #338
http://purl.obolibrary.org/obo/UBERON_0014405 nymph stage
http://purl.obolibrary.org/obo/UBERON_0000069 larval stage
http://purl.obolibrary.org/obo/UBERON_0000066 fully formed stage (adult stage)

@SAK22 Here is the tick development stage terms you can use.

[2022-06-22 14:38] zhengj2007 commented on #318
Remaining:
EUPATH:0000128 'obsolete peripheral blood mononuclear cell specimen'
- Need to add OBI replacement when it is available, at that time, need to add replacement in the clinEpi replaceIRI file

[2022-06-22 14:42] zhengj2007 commented on #317
Current ClinEpi team only provide Term ID in the download file. Haven't decided whether the same labels will be used when provide the labels in the download file.

[2022-06-22 14:47] #278 closed

[2022-06-22 14:56] SAK22 commented on #338
THANK YOU!

[2022-06-23 16:10] johnwjudkins commented on #136
@zhengj2007 Can we close this?

[2022-06-23 16:18] johnwjudkins commented on #141
We've deprecated 'dwelling information'. Would you like to close this, @zhengj2007 ?

[2022-06-23 16:44] johnwjudkins commented on #140
This term was deprecated. Closing.

[2022-06-23 16:44] #140 closed

[2022-06-23 17:06] #141 closed

[2022-06-23 17:09] #136 closed

[2022-06-29 16:20] Achchuthan opened #367 "NTR: Putatively essential"
For new term requests, please provide the following information:
**putatively essential** [required]

**inferred essential**, **putatively  lethal** [optional]

**Definition** [required except for organism name]
Absolutely necessary or vital for the life of an organism, as inferred either from direct experimental evidence or from indirect evidence.

**Contributor** [optional]
Achchuthan Shanmugasu

[2022-06-29 17:00] Achchuthan opened #368 "NTR: Phenotype"
For new term requests, please provide the following information:
**phenotype** [required]

**Definition** [required except for organism name]
 Any of the set of observable characteristics of an organism resulting from the interaction of its genotype with the environment.

**Other ontologies with this term**

-  FYPO (http://purl.obolibrary.org/obo/FYPO_0000001) and PHIPO (http://purl.obolibrary.or

[2022-07-05 15:46] zhengj2007 commented on #367
Shall we consider to add it in VEuPathDB ontology as an ICE?

[2022-07-05 15:49] zhengj2007 commented on #368
http://purl.obolibrary.org/obo/OGMS_0000023
phenotype
Definition: A (combination of) quality(ies) of an organism determined by the interaction of its genetic make-up and environment that differentiates specific instances of a species from other instances of the same species.

Base on the definition, it is not restricted to human or animal and doesn't only refer to abnormal phenotype. We may use OG

[2022-07-05 18:44] zhengj2007 commented on #327
https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/wiki/Deprecation-of-VEuPathDB-ontology-term

[2022-07-06 14:11] zhengj2007 commented on #368
@Achchuthan Will check whether OGMS loaded in the GUS. If not, request term import.

[2022-07-06 14:17] zhengj2007 commented on #367
Parent: http://purl.obolibrary.org/obo/OBI_0001909 conclusion based on data
Definition: gene absolutely necessary or vital for the life of an organism, as inferred either from direct experimental evidence or from indirect evidence.
@johnwjudkins will improve the definition when add term in the ontology

[2022-07-06 14:46] #150 closed

[2022-07-06 14:47] zhengj2007 opened #370 "naming convention wiki page"
@johnwjudkins is working on the wiki.

[2022-07-06 14:48] #148 closed

[2022-07-06 14:51] zhengj2007 commented on #145
We will discuss later. It seems we have some relocation information of animals/pets.

[2022-07-06 15:06] Achchuthan commented on #368
@zhengj2007, this term from OGMS is loaded in GUS. So, I can use this term.

[2022-07-06 15:53] #368 closed

[2022-07-07 18:24] johnwjudkins commented on #310
https://github.com/obi-ontology/obi/issues/1526

[2022-07-07 18:41] johnwjudkins commented on #367
Definition:

An information content entity about a gene that is absolutely necessary or vital for the life of an organism, as inferred either from direct experimental evidence or from indirect evidence.

@Achchuthan please review. I'm writing this definition as a general information term, but if this is meant as a Boolean term (information indicating whether or not a gene is putatively essential),

[2022-07-08 09:50] Achchuthan commented on #367
HI @johnwjudkins,
Thanks for drafting the definition of this term. I am happy with it. I'm assigning it back to you!!

[2022-07-08 18:51] #338 closed

[2022-07-12 14:43] zhengj2007 commented on #370
The content looks good. May consider to change some formats for easy searching and identifying the naming convention we used, such as, using  internal link list the naming convention categories, highlight the naming conversion we used (current using double quotations, may also use bold font) and list them using bullet points when have more than one in a category.

[2022-07-12 19:07] zhengj2007 commented on #144
Shall we close it?

[2022-07-12 19:19] zhengj2007 commented on #367
@Achchuthan, John added the term with label 'information on putatively essential gene' and ID 'EUPATH_0043245'.

[2022-07-12 20:22] johnwjudkins commented on #144
I think I should work on the last 3 labels, in order to conform to the wiki.

[2022-07-13 14:21] zhengj2007 commented on #367
@johnwjudkins Add 'putatively essential' as VEuPathDB alternative label

[2022-07-15 15:00] johnwjudkins commented on #135
I think 'malaria-related diagnosis' (which is also currently the ICEMR display label) should be 'diagnosis of malaria or parasitemia', based on its definition. Making this change and the changes proposed in the last comment would bring all diagnosis terms under labels beginning with "diagnosis".

[2022-07-19 13:13] #367 closed

[2022-07-19 19:38] johnwjudkins commented on #370
The page is updated @zhengj2007

[2022-07-20 14:42] #327 closed

[2022-07-21 14:11] johnwjudkins opened #374 "normalization of time measurement data terms not discussed"
Related to #150. We have terms whose labels begin with "number of" and do not represent frequencies as does 'number of days per week at primary job'. As we discussed, _those_ terms will be moved to 'count'. However, the following terms are true TMD, and I propose changing their labels to "duration of...". All TMD are durations of processes according to the defining [axiom](http://purl.obolibrary.o

[2022-07-21 18:39] zhengj2007 commented on #374
Looks good to me. If we'd like to make the terms without time units, we'd update the definitions accordingly.

[2022-07-25 20:12] johnwjudkins commented on #374
The following are terms about the proportion of time one spends in an occupation. We discussed moving these from TMD to 'count'. I agree these are not TMD, but they may not be counts either, because one can work 7.5 hours per day. It may be better to move them up to 'measurement datum' instead. My proposals:

ID | project label | current ontology label | proposed ontology label | current definitio

[2022-07-26 19:08] zhengj2007 commented on #144
EUPATH:0000316 can be deprecated.

EUPATH:0000338 mixes two pieces of information, malaria diagnosis information and parasite status based on blood smear and LAMP tests. Not a good ontology term. But required by data provider.
Here are the values of EUPATH:0000338
- Symptomatic malaria
- Blood smear positive, no malaria
- Blood smear negative, LAMP positive
- Blood smear negative, LAMP negative
-

[2022-07-26 19:14] zhengj2007 commented on #135
start with 'diagnosis' or 'diagnosis of' + _specific_disease/diagnosis_ + diagnosis time ?
https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/wiki/Naming-conventions

[2022-07-28 18:53] #374 closed

[2022-08-03 14:45] zhengj2007 commented on #374
Discussed on the ontology team meeting August 3. Will update ontology label as project label and update the definition accordingly, such as time spend daily, weekly

[2022-08-03 14:52] zhengj2007 commented on #144
Add the values in the editor notes for term EUPATH:0000338

[2022-08-03 14:58] zhengj2007 commented on #318
@johnwjudkins has the term added in the OBI?

[2022-08-03 15:01] zhengj2007 commented on #310
@johnwjudkins It seems the terms were added in the OBI and will show in next release, right?

[2022-08-03 17:20] johnwjudkins commented on #318
It's in an open pull request https://github.com/obi-ontology/obi/pull/1568. James is fixing an issue with it.

[2022-08-03 17:21] johnwjudkins commented on #310
They are in an open pull request: https://github.com/obi-ontology/obi/pull/1571

[2022-08-10 00:49] johnwjudkins commented on #357
Reopening because some labels and definitions still have "hospitalization" rather than "hospital admission". A similar issue is that we have 'diagnosis at discharge' even though the OMRSE term is 'patient discharge', so we may want to change that to 'diagnosis at patient discharge' (and change its children as well).

[2022-08-10 01:19] johnwjudkins opened #380 "convention for presence-of-organism data by unspecified method"
There are cases of two placeholder terms having similar project labels where one is a category:

EUPATH:0021132 'Chikungunya in blood'
EUPATH:0021164 'Chikungunya, by any method'

As I understand, the first term is a category, so it includes presence data from any assay detecting Chikungunya, whether or not it mentions the type of assay
while the second term is a subclass of this information, in w

[2022-08-10 15:14] zhengj2007 opened #381 "Update the VEuPathDB alternative label of terms"
Since new placeholder terms were added and displayLabel might be changed, need to update VEuPathDB alternative label template and regenerate the OWL file before each release.

[2022-08-12 18:08] johnwjudkins opened #385 "EUPATH:0000574 undefined"
**Describe the bug**
We restored EUPATH:0000574 to the ontology after deprecating it, but it was never defined. I think I should delete it from the ontology and put it in the placeholder sheet for now, and leave it to be defined after the release. @zhengj2007

[2022-08-12 19:20] #357 closed

[2022-08-12 19:51] johnwjudkins opened #387 "Some children of 'presence of organism in specimen' not aligned with terms in presence_data"
**Describe the bug**
(As mentioned in comment on #383) There are children of 'presence of organism in specimen' that are not aligned with terms in the presence_data module.

[2022-08-12 19:51] #385 closed

[2022-08-12 20:18] #144 closed

[2022-08-12 20:18] #380 closed

[2022-08-17 13:25] johnwjudkins commented on #118
New term merged into OBI. Closing.

[2022-08-17 13:25] #118 closed

[2022-08-17 13:26] #84 closed

[2022-08-17 14:33] #186 closed

[2022-08-17 14:40] zhengj2007 commented on #145
Will work on it after finishing harmonization of microbiomeDB and clinEpiDB

[2022-08-19 14:55] asizemore opened #392 "NTR: Eukaryote detection and abundance analysis"
For new term requests, please provide the following information:
**Term Label** Eukaryote detection and abundance analysis

**Synonyms** NA

**Definition** Abundance of eukaryotic species detected using the CORRAL method [[1](https://www.biorxiv.org/content/10.1101/2022.03.09.483664v1)]

**Suggested Parent Term** Whole metagenome sequencing assay https://www.ebi.ac.uk/ols/ontologies/eupath/terms?i

[2022-08-19 19:44] zhengj2007 commented on #186
@johnwjudkins Could you please confirm that you have added "Health center level information", "Village level information" and "School level information" in the placeholder sheet?

[2022-08-19 20:09] johnwjudkins commented on #186
@zhengj2007 They are in the placeholder sheet. However, they are undefined. They all have the parent Community, which is identified in the sheet.

[2022-08-19 20:53] zhengj2007 commented on #186
@johnwjudkins Sounds good. The parent should be  'study cluster information'.

[2022-08-23 20:30] zhengj2007 commented on #392
Some related terms have been added as children of [data transformation](https://ontobee.org/ontology/EUPATH?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0200000)

[2022-08-23 20:34] zhengj2007 commented on #105
Can we close it?

[2022-08-24 13:16] asizemore commented on #392
Thanks @zhengj2007 ! Is there anything more you need from me at this time?

[2022-08-24 15:03] zhengj2007 commented on #392
Discussed on the call. It is a child of 'data transformation' (data analysis).

Thanks @asizemore for submitting the term.
@johnwjudkins will work on the definition and add the term in the ontology. He will contact you  if he needs more information.

[2022-08-30 16:59] johnwjudkins opened #394 "New terms about food and diet"
Ontological labels/definitions for placeholders related to food or diet, for potential submission to FOODON. Two of these already have FOODON IDs, but I think they need new IDs because their definitions are different.

We may want to submit terms to FOODON for food referenced here, such as "dark green leafy vegetables" or "vitamin A rich foods", even if FOODON doesn't take the information terms in

[2022-08-30 20:19] johnwjudkins commented on #392
My suggestions:
Label: analysis of eukaryote abundance
Definition: A data transformation that uses data from a whole metagenome sequencing assay and CORALE (for Clustering of Reference Alignments) software to specify taxa of Eukaryota in a specimen.
Definition source: https://www.biorxiv.org/content/10.1101/2022.03.09.483664v1

[2022-08-31 16:16] SAK22 opened #396 "NTR: cow-baited tent collection"
For new term requests, please provide the following information:
**Term Label** cow-baited tent collection

**Definition** [required except for organism name]
An adult cow was loosely tied to a stake in the ground at the centre of a large tent. Mosquitoes resting on the interior walls of the tent were collected hourly for 5 min using mouth aspirators.

**Suggested Parent Term** [required]
Please l

[2022-09-01 15:45] weili-apidb opened #397 "NTR: resistance to tebuconazole"
phenotype: resistance to tebuconazole

[2022-09-01 17:45] zhengj2007 commented on #397
@weili-apidb I found two existing ontology terms.

http://purl.obolibrary.org/obo/FYPO_0007716
An increased chemical resistance phenotype observed in the vegetative growth phase of the life cycle in which cells grow in the presence of a higher concentration of tebuconazole than normal.
(This is fission yeast phenotype)

http://purl.obolibrary.org/obo/PHIPO_0000679
A growth phenotype which describe

[2022-09-07 16:06] zhengj2007 commented on #139
Discussed Apollo_SV 'human travel' on OMRSE call 2022-09-07. Since nobody complained about the terms under the GO:behavior, OMRSE people want us to propose the parent of 'human travel' for discussion.

[2022-09-07 18:53] asizemore commented on #392
hey @johnwjudkins ! The name got changed so it's CORRAL now instead of CORALE. Otherwise looks good to me! I'll check in with Dan to get his opinion as well.

[2022-09-08 14:50] johnwjudkins commented on #396
@SAK22 Would the tent be considered a baited net trap? In other words, are the mosquitoes prevented from either leaving the tent or biting the cow?

[2022-09-09 10:20] Achchuthan commented on #397
Hi @weili-apidb, @weili-apidb,
I prefer the PHIPO term as this is a more taxon-generic ontology than FYPO. Please go ahead with using http://purl.obolibrary.org/obo/PHIPO_0000679

[2022-09-09 14:34] zhengj2007 commented on #396
Will chat with @SAK22 to understand what she needs.

[2022-09-09 14:46] zhengj2007 commented on #139
Discussed on the call 2022-09-09. We would like to add a term like 'human planned travel' under planned process. Suggest to relabel 'human travel' as 'human migration'. @johnwjudkins will work on the definition of 'human planned travel'.

[2022-09-12 19:03] #392 closed

[2022-09-13 13:51] johnwjudkins commented on #307
Term approved by OBI; waiting to be merged.

[2022-09-13 18:53] johnwjudkins commented on #394
A few more potential terms for food products mentioned in the information terms in the table above:

Label: moderate malnutrition supplement food product
Definition: A food supplement food product designed to alleviate moderate malnutrition.

Label: severe malnutrition supplement food product
Definition: A food supplement food product designed to alleviate severe malnutrition.
(We may want to expa

[2022-09-14 14:57] johnwjudkins commented on #396
Label: cow-baited arthropod trap
Definition: A resting arthropod trap that consists of a tent inside which an adult cow is tethered to the ground, in order to attract arthropods and collect those that rest on the interior walls of the tent.
Parent: resting arthropod trap

It seems more like a description of a particular device (rather than details of a method/process for collecting), so I'm propos

[2022-09-15 10:38] SAK22 commented on #396
That sounds good to me @johnwjudkins !

[2022-09-15 14:47] weili-apidb opened #398 "NTR: Aspergillus fumigatus, Environmental Isolates from Southeast USA"
In redmine ticket https://redmine.apidb.org/issues/47157, the attached metadata file [PRJNA742769.xlsx]
--Column K [Isolation_time]
dph = days post harvest
--Column O-U [mic_of_fk506   mic_of_itraconazole   mic_of_natamycin   mic_of_posaconazole   mic_of_tebuconazole   mic_of_terbinafine   mic_of_voriconazole]
This is minimum inhibitory concentrations (MICs) used in antifungal susceptibility testi

[2022-09-19 15:04] weili-apidb opened #399 "NTR: Unmapped column headers for the MicrobiomeDB new study"
Raw metadata from Dan:
https://docs.google.com/spreadsheets/d/150tNclF2HrXq6LOh8wJOCtz9XF8Yeui9m6Vv_2rpbJ8/edit#gid=0

The ISA simple file prepared by Wei:
https://github.com/VEuPathDB/ApiCommonMetadataRepository/blob/master/ISA/metadata/MBSTDY0021/FARMM_metagenomics.txt

Workflow failures:
Unmapped column headers:  antibiotics, host_body_mass_index, host_height

[2022-09-21 22:07] dpbisme commented on #399
A bit more info for @zhengj2007 regarding these unmapped headers:
1. antibiotics - this refers to whether the sample was collected from a participant before (pre antibiotics) during (antibiotic treatment) or after (post antibiotics).
2. host_body_mass - This should be loaded as 'Weight (kg)', which is a display term variable we currently have for at least one other study.
3. host_height - We actua

[2022-09-23 17:38] johnwjudkins commented on #396
We have the other arthropod trap terms in OBI, so I'm submitting it there: https://github.com/obi-ontology/obi/issues/1602

[2022-09-23 20:20] zhengj2007 commented on #399
I think all the terms are available for use.

1. antibiotics - EUPATH_0009125 Antibiotic medication related to sample collection
2. host_body_mass - IAO_0000414 weight
3. host_height - EUPATH_0010075 height

Are the mappings good for you? @weili-apidb @dpbisme

[2022-09-27 02:31] dpbisme commented on #399
Looks good to me, @zhengj2007!  Thanks.

[2022-09-27 18:56] #399 closed

[2022-10-04 17:06] weili-apidb opened #402 "NTR: Could not determine Accession Numbers from Characteristics [organism]"
Could not determine Accession Numbers for the following terms of Characteristics [organism]:
------------------------------------------------
Grape
RPWYT-35
COUCAL
HON-9
KWALE
RNWYT-18
29TH HRSWN-8
COUCAL
RAWYT-1-26
19TH ESBWYT-45
20TH FHBSN-50
19TH EBSWYT-18
19TH EBSWYT-82
Oryx
Moose
----------------------------------------------------
ISA simple file:
https://github.com/VEuPathDB/ApiCommonMetada

[2022-10-04 19:31] zhengj2007 commented on #402
Organism (host of fungus in this study) field is required to provide ontology terms as values. Here are mappings of some of the terms you listed.

term | mapped ontology term label | mapped ontology term ID
-|-|-
Grape | Vitis | NCBITaxon_3603
COUCAL | Centropus | NCBITAXON_57401
Oryx | Oryx | NCBITAXON_9957
Moose | Alces alces | NCBITAXON_9852
KWALE | Francolinus | NCBITAXON_9018

If they are not

[2022-10-04 23:13] bobular commented on #248
Hi @johnwjudkins  -  please could we also have a "prevalence of wild type Cyp4J5 L43" term

analogous to existing term EUPATH_0043191 prevalence of wild type Rdl A296

[2022-10-05 13:48] zhengj2007 commented on #398
minimum inhibitory concentration http://purl.obolibrary.org/obo/OBI_0001514

[2022-10-05 13:50] johnwjudkins commented on #139
human planned travel: A planned process by which a human being is moved to another geographic location that is a significant distance apart from the initial location.

[2022-10-05 13:54] #397 closed

[2022-10-05 14:15] weili-apidb commented on #402
Hi Jie. Thank you for working on this. Those organisms are host (wheat variety). The original metadata file is attached in the redline ticket:
https://redmine.apidb.org/issues/47445

[2022-10-05 14:28] cstoeckert commented on #139
see https://github.com/OBOFoundry/COB/issues/156

[2022-10-05 15:35] zhengj2007 commented on #402
@weili-apidb I added the mapped term to 'wheat' in the mapping table (see my first comment).

I think the following terms are the wheat strains:
- RPWYT-35
- HON-9
- RNWYT-18
- 29TH HRSWN-8
- RAWYT-1-26
- 19TH ESBWYT-45
- 20TH FHBSN-50
- 19TH EBSWYT-18
- 19TH EBSWYT-82

Proposed to add an extra column for these terms, the column header can be 'lab host' and use 'wheat' in the Characteristics [orga

[2022-10-05 18:06] zhengj2007 commented on #398
column header | mapped ontology term | ontology ID | existing column header name
-|-|-|-
mic_of_fk506 | Tacrolimus | CHEBI_61049 |
mic_of_itraconazole | itraconazole | CHEBI_6076 | ICZ
mic_of_natamycin | natamycin | CHEBI_7488 |
mic_of_posaconazole | posaconazole | CHEBI_64355 | PZ
mic_of_tebuconazole | tebuconazole | CHEBI_81781 |
mic_of_terbinafine | terbinafine | CHEBI_9448 |
mic_of_voriconazol

[2022-10-06 13:25] weili-apidb commented on #402
ERROR:  Taxa with Accession Or Name [NCBITAXON_9018] were not found in the database
ERROR:  Taxa with Accession Or Name [NCBITAXON_57401] were not found in the database
RROR:  Taxa with Accession Or Name [NCBITAXON_9957] were not found in the database
ERROR:  Taxa with Accession Or Name [NCBITAXON_9852] were not found in the database

Seems like those terms are not added into http://purl.obolibrar

[2022-10-06 14:15] weili-apidb commented on #402
Hi Jie. I have done that, but still don't have those accessions in FungiDB-inc.

[2022-10-06 14:42] zhengj2007 commented on #402
If the terms are not in the database ontology table, can we reload the NCBITaxon ontology?

[2022-10-06 17:35] zhengj2007 opened #404 "import 4 NCBITaxon terms"
The following 4 NCBITaxon terms are needed for genomics dataset.
[Francolinus NCBITaxon_9018](http://purl.obolibrary.org/obo/NCBITaxon_9018)
[Centropus NCBITaxon_57401](http://purl.obolibrary.org/obo/NCBITaxon_57401)
[Alces alces NCBITaxon_9852](http://purl.obolibrary.org/obo/NCBITaxon_9852)
[Oryx NCBITaxon_9957](http://purl.obolibrary.org/obo/NCBITaxon_9957)

We'd import them in the ontology.

Se

[2022-10-07 11:59] bobular opened #405 "NTR: various 'protocol variable' terms for popbio"
For new term requests, please provide the following information:
**Term Label**

- specimen collection protocol (OBI_0003070) - already exists and is in VEuPathDB ontology :heavy_check_mark:
- sample portioning protocol - could possibly use `portioning objective (OBI_0000678)` or make new sibling to OBI_0003070?
- species identification protocol - new sibling to OBI_0003070 or possibly `organism i

[2022-10-10 15:46] bobular opened #406 "NTR: PopBio study name"
**Term Label** [required]

PopBio study name

**Synonyms** [optional]

Study name

**Definition** [required except for organism name]

The name or title of an individual study that forms part of the VectorBase population biology resource

**Suggested Parent Term** [required]

For use in study_classifications owl file.

[2022-10-10 15:49] zhengj2007 commented on #406
Proposed changed on the definition:
An investigation title denotes a study that forms part of the VectorBase population biology resource.

Will discuss on Oct 12 ontology call.

[2022-10-10 18:10] #248 closed

[2022-10-10 20:10] #370 closed

[2022-10-10 21:01] #404 closed

[2022-10-10 21:01] #402 closed

[2022-10-11 19:05] zhengj2007 commented on #394
Are EUPATH:0011661 and EUPATH:0011631 same? Both are 'indicator of diet including meat' and with same definition and parent.

[2022-10-12 13:24] johnwjudkins commented on #406
I would use "An investigation title that denotes a study that forms part of the VectorBase population biology resource."

[2022-10-12 14:56] zhengj2007 commented on #405
I'd prefer not to use STATO 'executes' and 'executed by' now since they are not RO relations.

[2022-10-12 14:57] zhengj2007 commented on #406
Bob: For reasons I'm not easily able to explain, we need to add a "Study name" field to the [Study Classifications owl file](https://github.com/VEuPathDB/ApiCommonData/blob/master/Load/ontology/General/study_classifications/classifications.owl) (this is what drives the "Study summaries table" in Clinepi) because we are using this also for popbio. I would naturally want to use investigation title (

[2022-10-12 15:04] zhengj2007 commented on #406
Discussed on 2022-10-12 ontology team meeting.

@bobular: @cstoeckert would like to know whether the term is used internally. If so, we can assign an EUPATH ID to the term and used as a placeholder and no need to add in the ontology.

[2022-10-17 20:01] zhengj2007 opened #409 "Import the synonyms of all terms from external resources"
Current VEuPathDB ontology retrieved labels and definitions from external OBO Foundry ontologies but importing synonyms/alternative terms are optional. For using synonyms in solr search on the website, we should retrieve the synonym/'alternative term' annotation of the terms from all external ontologies.

[2022-10-17 20:06] johnwjudkins commented on #409
I can work on that, but should the "has...synonym" annotations be mapped to 'alternative label' or remain as they are?

[2022-10-18 14:00] #409 closed

[2022-10-18 14:34] johnwjudkins commented on #405
https://github.com/obi-ontology/obi/issues/1614

[2022-10-18 17:54] zhengj2007 commented on #406
@bobular Sounds good. We will assign an EUPATH ID to it. Do we need to add the term in [Study Classifications owl file](https://github.com/VEuPathDB/ApiCommonData/blob/master/Load/ontology/General/study_classifications/classifications.owl)?

[2022-10-18 18:56] bobular commented on #406
Yes please! [Here](https://github.com/VEuPathDB/ApiCommonData/blob/master/Load/ontology/General/study_classifications/classifications.owl#L418-L421) please.

[2022-10-18 19:02] johnwjudkins commented on #310
Merged into obi-edit (will be in next release).

[2022-10-18 19:03] johnwjudkins commented on #318
Merged into obi-edit.

[2022-10-18 19:15] zhengj2007 commented on #406
Assigned ID, EUPATH_9990001, to term 'Study name' and update the ID in study classification OWL file.

[2022-10-20 18:49] zhengj2007 commented on #398
Hi @weili-apidb, Sorry I cannot see the image you attached.

But fk506 (Tacrolimus) and Terbinafine are under 'Anti-fungal agent resistance'. I think it is correct.

The fk506 is the header in study EUSTDY0169 (named as mic_of_fk506 in the sample file). There  are data in the column.

Hope it is helpful.

[2022-10-26 13:43] weili-apidb opened #413 "NTR: "sample name""
We need to load an alternative name for isolates. What column header do you recommend?

[2022-10-26 14:59] #406 closed

[2022-10-26 15:33] #413 closed

[2022-10-27 17:14] johnwjudkins opened #414 "'presence of organism' terms that are not Boolean"
**Describe the bug**
The following terms are children of 'presence of organism in specimen' but do not appear to have Boolean values. I think these should be moved up under 'data item':

EUPATH:0000423 'parasite species information'
EUPATH:0000540 'presence of asexual parasite by PCR'
EUPATH:0000519 'presence of gametocyte'

Also, EUPATH:0000489 'negative blood smear and negative LAMP' is not in a

[2022-10-27 19:16] weili-apidb opened #415 "NTR: metadata for "Lee Gambian" RNASeq in plasmo and host."
Hi Jie,
there is an RNASeq dataset where i'd like to load some associated metadata.  It is the "Lee Gambian" dataset in plasmo and host.
The meta data is here:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6326353/bin/NIHMS81012-supplement-Supplementary_Dataset_1.xlsx

Most of the headers require ontology terms. We don't have definitions, all we have is the headers in that file. Could you take a lo

[2022-10-27 19:29] zhengj2007 commented on #415
@weili-apidb Could you please list the terms you need?

[2022-10-28 17:06] zhengj2007 opened #416 "NTR: percentage parasitemia"
For new term requests, please provide the following information:
**Term Label** [required]
Percentage parasitemia

**Synonyms** [optional]
N/A

**Definition** [required except for organism name]
A parasitemia measurement that is expressed as percentage of erythrocytes parasitized.

**Suggested Parent Term** [required]
Please look in the ontology hierarchy in a browser such as [OLS](http://www.ebi.

[2022-10-28 19:00] zhengj2007 opened #417 "NTR: presence of sickling hemoglobin"
For new term requests, please provide the following information:
**Term Label** [required]
presence of sickling hemoglobin

**Synonyms** [optional]
sickle cell screen data

**Definition** [required except for organism name]
A measurement datum that indicates whether sickling hemoglobins are present in the blood by sickling test.

**Suggested Parent Term** [required]
Please look in the ontology hie

[2022-10-28 19:08] zhengj2007 commented on #415
Parasite density  (/µl)
- I found the term 'parasite density by PCR' http://purl.obolibrary.org/obo/EUPATH_0000536
- Can I know what method is used to get the Parasite density? If it is PCR, we can use existing EUPATH term. Otherwise, we need to add a new term.

[2022-10-28 19:11] zhengj2007 commented on #415
I submitted two new term requests:
https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/issues/416 Percentage parasitemia
https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/issues/417 Sickle cell screen

@weili-apidb Could you please review the terms? If they are correct, we will add in the ontology and provide the IDs to you.

[2022-10-28 19:12] zhengj2007 commented on #415
@weili-apidb We need more information of following 3 terms.

PfHRP2 (ng/mL) - is it blood Plasmodium falciparum histidine-rich proteins 2 density
Parasite clones - Can we have more information of it?
First Blantyre coma score - How is it different from Blantyre coma score?

[2022-10-31 14:32] weili-apidb commented on #415
-The two new terms look good to me.
-PfHRP2 (ng/mL)
P. falciparum histidine rich protein 2
-Parasite density (/µl)
Peripheral blood parasite quantification by RNA-sequencing of blood from infected patients.
-Parasite clones ?
-First Blantyre coma score ?

[2022-10-31 14:49] weili-apidb commented on #415
Yes, in blood

[2022-10-31 18:21] weili-apidb commented on #415
Asked JohnB, Kathryn and Susanne. They have no idea about the two terms:
-Parasite clones
-First Blantyre coma score

[2022-10-31 18:50] zhengj2007 commented on #415
Thanks @weili-apidb

[2022-10-31 20:11] johnwjudkins commented on #394
I looked again, and EUPATH:0011631 is really about "iron-rich" foods rather than just meat. I still need Outreach to determine how much of a nutrient makes a food "rich" in that nutrient.

[2022-11-01 17:23] johnwjudkins commented on #417
We already have [sickle hemoglobin genotype](http://purl.obolibrary.org/obo/EUPATH_0000035), which is an ICE. Maybe it should be specified as a data item.

[2022-11-01 17:37] johnwjudkins commented on #416
'eukaryota in blood datum' can include non-Boolean values (terms with "presence" in the label are restricted to Boolean), so 'parasitemia measurement' could be a subclass of 'eukaryota in blood datum'.

[2022-11-01 17:38] zhengj2007 commented on #417
I think they are two different terms, one is protein level, the other is gene level.

[2022-11-01 18:20] zhengj2007 opened #419 "NTR: Plasmodium falciparum histidine-rich proteins 2 density"
For new term requests, please provide the following information:
**Term Label** [required]
Plasmodium falciparum histidine-rich proteins II density

**Synonyms** [optional]
Plasmodium falciparum HRP2 density
PfHRP-2 density
PfHRP2 density
PfHRPII density

**Definition** [required except for organism name]
A scalar measurement datum that is the amount of Plasmodium falciparum histidine-rich protein

[2022-11-01 18:23] zhengj2007 opened #420 "NTR: parasite density by RNA sequencing"
For new term requests, please provide the following information:
**Term Label** [required]
parasite density by RNA sequencing

**Synonyms** [optional]

**Definition** [required except for organism name]
A scalar measurement datum that is about parasite density in blood measured by RNA sequencing.

**Suggested Parent Term** [required]
Please look in the ontology hierarchy in a browser such as [OLS]

[2022-11-08 19:17] zhengj2007 opened #422 "Parent of term 'gestational age measurement datum'"
**Describe the bug**

ONTONEO_00000255 'gestational age measurement datum' imported as a subClassOf 'data item'. Should it be the child of 'age measurement datum'?

[2022-11-08 19:54] johnwjudkins commented on #422
This term is set up so its parent is computed by Ontofox, so I don't know why it places it under 'data item' rather than 'age measurement datum' as Ontobee shows. I could update it by explicitly declaring its parent in the input file, but if I do that, it won't update if ONTONEO changes its hierarchy again.

[2022-11-08 20:23] zhengj2007 opened #423 "data item related to microbiome detection"
**Describe the bug**
EUPATH_0021027 no Plasmodium by microscopy
Definition: a data item that is the specified output of a microscopy assay that has a sample of blood as specified input and indicates that the sample does not contain Plasmodium

Is it a child of EUPATH_0027009 'presence of Plasmodium in blood by microscopy assay'?
Shall indicate sample type in the label, such as 'no Plasmodium in bl

[2022-11-08 21:07] zhengj2007 commented on #422
You can add the term 'age measurement datum' in ONTONEO input file. So, it will can include in the 'includeComputedIntermediates' Ontofox import. The term will be removed by following ROBOT command. So, it should be fine.

[2022-11-08 21:38] zhengj2007 opened #424 "organism identification datum, presence of organism in specimen and other organism data terms"
**Describe the bug**

'organism identification datum' terms are used to annotate microbiology identification/detection raw data in clinEpi project. Based on the raw data, the investigators inferred whether microbiome present in the participant samples, which are 'presence of organism in specimen' terms. I think the presence terms could also be 'organism identification datum', such as thick and thi

[2022-11-09 18:29] zhengj2007 opened #425 "NTR: antifungal minimum inhibitory concentration"
For new term requests, please provide the following information:
**Term Label** [required]
antifungal minimum inhibitory concentration

**Synonyms** [optional]
MIC of antifungal
MIC of antifungal compound
MIC of antifungal agent

**Definition** [required except for organism name]
A minimum inhibitory concentration of an antifungal compound that will inhibit a biological or biochemical function of

[2022-11-09 19:06] zhengj2007 commented on #425
SubClasses of antifungal minimum inhibitory concentration

Label | Molecular entity ID and label | parent
--|--|--
antifungal minimum inhibitory concentration of L-dopa | CHEBI:15765	L-dopa| antifungal minimum inhibitory concentration
antifungal minimum inhibitory concentration of Hydrogen peroxide | CHEBI:16240	Hydrogen peroxide (H2O2)| antifungal minimum inhibitory concentration
antifungal minim

[2022-11-09 22:16] johnwjudkins opened #426 "replace 'breastfeeding process' with GO:'suckling behavior'"
EUPATH [breastfeeding process](http://purl.obolibrary.org/obo/EUPATH_0010371) is defined as the process of feeding of babies and young children with milk from a woman's breast.

GO [suckling behavior](http://purl.obolibrary.org/obo/GO_0001967) is defined as specific behavior of a newborn or infant mammal that results in the derivation of nourishment from the breast.

I think the GO term can replac

[2022-11-10 17:48] zhengj2007 commented on #425
Good catch. I changed inheres_in to towards. Will discuss the terms on our next meeting.

[2022-11-10 20:20] cstoeckert commented on #415
For "ethnicity", http://purl.obolibrary.org/obo/OMRSE_00000100 is obsolete. Replaced with http://purl.obolibrary.org/obo/OMRSE_00000205

For "Red blood cell count (x1012/L" it should be CMO_0000025 not CMO_0000029

[2022-11-10 21:06] zhengj2007 commented on #426
Good to me.

[2022-11-10 21:50] zhengj2007 opened #427 "NTR: sum number of female Anopheles at sample collection"
For new term requests, please provide the following information:
**Term Label** [required]
sum number of female Anopheles at sample collection

**placeholder ID: EUPATH_0005009**

**Synonyms** [display label]
Cumulative female Anopheles count

**Definition** [required except for organism name]
A sum value for all female Anopheles at sample collection time calculated from monthly CDC light trap cou

[2022-11-10 21:56] zhengj2007 opened #428 "NTR: number of female Anophelese per night"
For new term requests, please provide the following information:
**Term Label** [required]
number of female Anophelese per night

**placeholder ID: EUPATH_0005008**

**Synonyms** [display label]
Nightly female Anophelese count

**Definition** [required except for organism name]
A count of female Anopheles per night calculated from monthly CDC light trap counts.

Definition given in data dictionary

[2022-11-11 14:11] SAK22 opened #429 "NTR: status of population endemicity"
For new term requests, please provide the following information:
**Term Label** status of population endemicity

**Synonyms** [optional]

**Definition**
(I am unsure if my label name is ontologically correct but this is the description of the values I want to use in the variable).

I would like to make a new variable for describing tick populations collected in the field. The three values are ‘no

[2022-11-11 16:24] johnwjudkins opened #430 "NTR: presence of analyte in blood"
For new term requests, please provide the following information:
**Term Label** [required]
presence of analyte in blood
**Synonyms** [optional]

**Definition** [required except for organism name]
A data item that indicates whether a bearer of an analyte role is present in a blood specimen.

**Suggested Parent Term** [required]
data item

I intend this term to be analogous to [presence of organism

[2022-11-15 15:33] johnwjudkins opened #432 "general term for organism identification - should mention "taxon"?"
I think we should discuss here what we want for a general organism identification assay term before submitting to OBI. I had suggested revising the definition of [organism identification assay](http://purl.obolibrary.org/obo/OBI_0001624) to "An assay that identifies an organism in a specimen with regard to taxon." However, we have placeholder terms that refer to identification of Plasmodium specif

[2022-11-15 16:31] zhengj2007 commented on #432
I'd prefer to make the term more general. Besides, I'd like the term can clarify whether identify including both what kind an organism is and how many the organism is in the specimen.

[2022-11-15 16:47] zhengj2007 commented on #430
analyte is used to associated with analyte assay. For the data item, I think we may focusing on what the data is about. So, might use 'presence of chemical entity/compound in blood'

[2022-11-15 16:59] johnwjudkins commented on #432
In that case the definition could be "An assay that specifies a type of organism and/or the number of individuals of a type of organism, in a specimen."

[2022-11-15 17:38] johnwjudkins commented on #430
After more thought, I see that my definition would limit the term to molecular entities and atoms. I've updated the request to refer to [chemical entity](http://purl.obolibrary.org/obo/CHEBI_24431).

[2022-11-15 19:53] johnwjudkins commented on #396
At the next OBI release, this term will be added as OBI_0003481.

[2022-11-15 20:51] johnwjudkins commented on #419
Should be "protein" not "proteins" in the label and definition--since the "protein" in "Plasmodium falciparum histidine-rich protein II" refers to one of two specific _types_ of protein.

[2022-11-15 21:34] zhengj2007 commented on #429
How about label term as 'information on collected tick population' and add as a subclassOf 'information content entity'?
- no record of collected tick population (no records): A [record of missing knowledge](http://purl.obolibrary.org/obo/OBI_0000852) indicating lacking of information of collected tick population.
- reported information on collected tick population (reported):  An information of c

[2022-11-15 21:43] zhengj2007 commented on #414
I think we can deprecate EUPATH:0000489 'negative blood smear and negative LAMP'.

[2022-11-15 21:44] zhengj2007 commented on #432
related issue: https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/issues/424

[2022-11-15 21:45] zhengj2007 commented on #414
related issue: https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/issues/424

[2022-11-15 21:46] zhengj2007 commented on #428
related issue: https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/issues/415

[2022-11-15 21:47] zhengj2007 commented on #427
related issue: https://github.com/VEuPathDB-ontology/VEuPathDB-ontology/issues/415

[2022-11-16 15:43] zhengj2007 commented on #432
organism detection assay: An assay that detects a type of organism and/or the quantity of individuals of a type of organism.

[2022-11-17 15:04] bobular commented on #429
This looks great, thanks. If we could reformulate the `established` definition to remove any specific numbers, that would make it more generally applicable.

[2022-11-17 15:49] johnwjudkins commented on #414
#432, where we decided on the general detection term, is also related. I can deprecate EUPATH:0000489 now in a PR; the other terms can be resolved when the general detection term issue is resolved in OBI.

[2022-11-17 20:13] zhengj2007 commented on #429
I found information of “established”, “reported”, and “no record”:
https://www.cdc.gov/ticks/surveillance/TickSurveillanceData.html

[2022-11-18 14:45] johnwjudkins commented on #432
https://github.com/obi-ontology/obi/issues/1633

[2022-11-18 20:43] johnwjudkins commented on #423
[parasite species information](http://purl.obolibrary.org/obo/EUPATH_0000423)
New label: Plasmodium species in blood by microscopy datum
New definition: A Plasmodium in blood by microscopy datum that specifies the species detected.
New subclass: [Plasmodium in blood by microscopy datum](http://purl.obolibrary.org/obo/EUPATH_0000537)

[no Plasmodium by microscopy](http://purl.obolibrary.org/obo/EUP

[2022-11-22 10:00] SAK22 commented on #429
@bobular would you still like to remove the number from established? Once that is done I think this looks great!

[2022-11-22 13:08] bobular commented on #429
Ah, yes, I see. The CDC definition makes it pretty official and I guess we can keep the "6". Will the new terms make reference to the CDC?

[2022-11-22 15:35] SheenaTomko opened #435 "NTR: Bag and mask resuscitation performed"
For new term requests, please provide the following information:
**Term Label** Bag and mask resuscitation performed

**Synonyms** [optional]

**Definition** Multifilter value indicating if an infant had bag and mask resuscitation performed soon after birth

**Suggested Parent Term** [required]
Please look in the ontology hierarchy in a browser such as [OLS](http://www.ebi.ac.uk/ols/ontologies/eup

[2022-11-22 15:36] SheenaTomko opened #436 "NTR: Birth attendant characteristics"
For new term requests, please provide the following information:
**Term Label** [required]
Birth attendant characteristics

**Synonyms** [optional]

**Definition** [required except for organism name]
Category to capture variables describing the birth attendants working at a given healthcare center. Includes things like age, training, etc.

**Suggested Parent Term** [required]
- [ ] Information (ge

[2022-11-22 15:37] SheenaTomko opened #437 "NTR:"
For new term requests, please provide the following information:
**Term Label** [required]
Observed work characteristics

**Synonyms** [optional]

**Definition** [required except for organism name]
Category to capture variables broadly describing what type of work is being done at the health center and the frequency. Based on observation of birth attendants (healthcare workers) by trained study pe

[2022-11-22 15:38] SheenaTomko opened #438 "NTR: Healthcare activities on admission"
For new term requests, please provide the following information:
**Term Label** [required]
Healthcare activities on admission

**Synonyms** [optional]

**Definition** [required except for organism name]
Multifilter to gather variables about activities that are on the birth checklist and supposed to be performed around admission time

**Suggested Parent Term** [required]
Please look in the ontology

[2022-11-22 15:39] SheenaTomko opened #439 "NTR: Healthcare activities just before delivery"
For new term requests, please provide the following information:
**Term Label** [required]
Healthcare activities just before delivery

**Synonyms** [optional]

**Definition** [required except for organism name]
Multifilter to gather variables about activities that are on the birth checklist and supposed to be performed just before delivery

**Suggested Parent Term** [required]
Please look in the o

[2022-11-22 15:40] SheenaTomko opened #440 "NTR: Healthcare activities at delivery"
For new term requests, please provide the following information:
**Term Label** [required]
Healthcare activities at delivery

**Synonyms** [optional]

**Definition** [required except for organism name]
Multifilter to gather variables about activities that are on the birth checklist and supposed to be performed during delivery

**Suggested Parent Term** [required]
Please look in the ontology hierar

[2022-11-22 15:40] SheenaTomko opened #441 "NTR: Healthcare activities <1 hour after delivery"
For new term requests, please provide the following information:
**Term Label** [required]
Healthcare activities <1 hour after delivery

**Synonyms** [optional]

**Definition** [required except for organism name]
Multifilter to gather variables about activities that are on the birth checklist and supposed to be performed within the first hour after delivery

**Suggested Parent Term** [required]
Pl

[2022-11-22 16:52] SAK22 opened #442 "NTR: Nyssorhynchus nuneztovari sensu lato"
For new term requests, please provide the following information:
**Term Label** Nyssorhynchus nuneztovari sensu lato

**Synonyms** Anopheles nuneztovari sensu lato

**Definition** [required except for organism name]
The definition should be understandable even for non-specialists. Include a PubMed ID or DOI to refer to any relevant article that provides additional information about the suggested t

[2022-11-22 19:04] johnwjudkins opened #443 "edit textual definitions for organism detection terms"
Since we decided to broaden organism detection data to include quantities, we should decide how to update the terms already in the raw data module. Here's an example term and its parent with my suggestions on how to change the definitions:

EUPATH:0000537 'Plasmodium in blood by microscopy assay datum'

Current definition:
A eukaryota in blood datum that is the output of a microscopy assay and is

[2022-11-23 20:22] SheenaTomko opened #445 "Time since last personal bednet treatment categorization"
For new term requests, please provide the following information:
**Term Label** [required]
Time since last personal bednet treatment categorization
**Synonyms** [optional]

**Definition** [required except for organism name]
A categorization of values in EUPATH_0024160 - Time since last personal bednet treatment

**Suggested Parent Term** [required]
Please look in the ontology hierarchy in a browse

[2022-11-23 20:23] SheenaTomko opened #446 "NTR: Time owned personal bednet categorization"
For new term requests, please provide the following information:
**Term Label** [required]
Time owned personal bednet categorization

**Synonyms** [optional]

**Definition** [required except for organism name]
Categorization of values from EUPATH_0024266 - Time owned personal bednet

**Suggested Parent Term** [required]
Please look in the ontology hierarchy in a browser such as [OLS](http://www.eb

[2022-11-28 13:46] SAK22 commented on #442
Thank you!

[2022-11-28 15:32] bobular commented on #442
I would switch the synonym and main label in this case?